#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont .ninja-forms-all-fields-wrap .submit-wrap input[type=Submit], .btn {
	cursor: pointer;
	color: #fff;
	background: #ed5c37;
	width: 130px;
	height: 43px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-decoration: none;
	-webkit-appearance: none
}
@media all and (min-width:1025px) and (max-width:1279px) {
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont .ninja-forms-all-fields-wrap .submit-wrap input[type=Submit], .btn {
	width: 109.1px;
	height: 35.9px
}
}
@media all and (max-width:1024px) {
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont .ninja-forms-all-fields-wrap .submit-wrap input[type=Submit], .btn {
	width: 109.1px;
	height: 35.9px
}
}
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont .ninja-forms-all-fields-wrap .submit-wrap input[type=Submit]:active, .btn:active {
	background-color: #212125!important
}
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont .ninja-forms-all-fields-wrap .submit-wrap input[type=Submit] *, .btn * {
	color: #fff!important
}
.btn-lg {
	width: 244px!important;
	height: 56px!important
}
#contacts-wraper {
	overflow-x: hidden
}
#contacts-wraper #screen-holder {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	background-color: #f7f5e8
}
@media all and (max-width:768px) {
#contacts-wraper #screen-holder {
	position: relative
}
}
@media all and (max-width:658px) {
#contacts-wraper #screen-holder {
	overflow: hidden
}
}
@media all and (max-width:480px) {
#contacts-wraper #screen-holder {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column
}
}
#contacts-wraper #screen-holder #welc-desc-holder {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 55%;
	padding-left: calc((100% - 1180px)/ 2);
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center; position:relative; 
}
#contacts-wraper #screen-holder #welc-desc-holder p { vertical-align:middle; position:relative; display:inline-block;}
#contacts-wraper #screen-holder #welc-desc-holder p a{ vertical-align:middle; position:relative; display:inline-block;}
#contacts-wraper #screen-holder #welc-desc-holder p img{ vertical-align:middle; position:relative; display:inline-block; width:40px;}


@media all and (min-width:1280px) and (max-width:1440px) {
#contacts-wraper #screen-holder #welc-desc-holder {
	padding-left: 130px
}
}
@media all and (min-width:1025px) and (max-width:1279px) {
#contacts-wraper #screen-holder #welc-desc-holder {
	padding-left: 70px;
	padding-bottom: 6%;
	width: 50%
}
}
@media all and (max-width:1024px) and (min-width:769px) {
#contacts-wraper #screen-holder #welc-desc-holder {
	padding-left: 32.5px;
	width: 40%;
	padding-bottom: 0
}
}
@media all and (max-width:768px) and (min-width:659px) {
#contacts-wraper #screen-holder #welc-desc-holder {
	padding-left: 50px;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%
}
}
@media all and (max-width:658px) and (min-width:481px) {
#contacts-wraper #screen-holder #welc-desc-holder {
	padding-left: 35px;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 75%
}
}
@media all and (max-width:480px) {
#contacts-wraper #screen-holder #welc-desc-holder {
	padding-left: 20.5px;
	position: relative;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 2;
	order: 2;
	background-color: #fff
}
}
#contacts-wraper #screen-holder #welc-desc-holder #welc-title {
	font-family: Sailec-Medium;
	font-size: 30px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.2;
	letter-spacing: -.4px;
	color: #181820;
	margin-bottom: 21px
}
@media all and (min-width:640px) {
#contacts-wraper #screen-holder #welc-desc-holder #welc-title {
	font-size: 34px;
	line-height: 1.24;
	letter-spacing: -.8px
}
}
@media all and (min-width:1280px) {
#contacts-wraper #screen-holder #welc-desc-holder #welc-title {
	font-size: 48px;
	line-height: 1.31;
	letter-spacing: -1px
}
}
@media all and (min-width:1025px) and (max-width:1279px) {
#contacts-wraper #screen-holder #welc-desc-holder #welc-title {
	margin-bottom: 15px
}
}
@media all and (min-width:769px) and (max-width:1024px) {
#contacts-wraper #screen-holder #welc-desc-holder #welc-title {
	margin-bottom: 12px
}
}
@media all and (max-width:768px) and (min-width:659px) {
#contacts-wraper #screen-holder #welc-desc-holder #welc-title {
	margin-top: 16px
}
}
@media all and (max-width:658px) and (min-width:481px) {
#contacts-wraper #screen-holder #welc-desc-holder #welc-title {
	margin-top: 10px
}
}
@media all and (max-width:480px) {
#contacts-wraper #screen-holder #welc-desc-holder #welc-title {
	margin-top: 60px;
	margin-bottom: 8px
}
}
#contacts-wraper #screen-holder #welc-desc-holder #welc-desc {
	font-family: Sailec;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	color: #595960;
	width: 50%;
	display: inline-block
}
@media all and (min-width:480px) {
#contacts-wraper #screen-holder #welc-desc-holder #welc-desc {
	font-size: 16px
}
}
@media all and (min-width:1400px) {
#contacts-wraper #screen-holder #welc-desc-holder #welc-desc {
	font-size: 18px;
	line-height: 1.67
}
}
@media all and (min-width:1025px) and (max-width:1279px) {
#contacts-wraper #screen-holder #welc-desc-holder #welc-desc {
	width: 60%
}
}
@media all and (min-width:769px) and (max-width:1024px) {
#contacts-wraper #screen-holder #welc-desc-holder #welc-desc {
	width: 100%
}
}
@media all and (max-width:768px) and (min-width:659px) {
#contacts-wraper #screen-holder #welc-desc-holder #welc-desc {
	width: 100%
}
}
@media all and (max-width:658px) and (min-width:481px) {
#contacts-wraper #screen-holder #welc-desc-holder #welc-desc {
	width: 75%
}
}
@media all and (max-width:480px) {
#contacts-wraper #screen-holder #welc-desc-holder #welc-desc {
	width: 75%
}
}
#contacts-wraper #screen-holder #welc-desc-holder #welc-phone {
	font-family: Sailec;
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.44;
	letter-spacing: -.2px;
	color: #181820;
	text-decoration: none;
	margin: 30px 0 21px 0
}
@media all and (min-width:640px) {
#contacts-wraper #screen-holder #welc-desc-holder #welc-phone {
	font-size: 20px;
	line-height: 1.55
}
}
@media all and (min-width:1400px) {
#contacts-wraper #screen-holder #welc-desc-holder #welc-phone {
	font-size: 24px;
	line-height: 1.58;
	letter-spacing: -.4px
}
}
@media all and (min-width:1025px) and (max-width:1279px) {
#contacts-wraper #screen-holder #welc-desc-holder #welc-phone {
	margin: 25px 0 16px 0
}
}
@media all and (min-width:769px) and (max-width:1024px) {
#contacts-wraper #screen-holder #welc-desc-holder #welc-phone {
	margin: 20px 0 12px 0
}
}
@media all and (max-width:768px) and (min-width:659px) {
#contacts-wraper #screen-holder #welc-desc-holder #welc-phone {
	margin: 20px 0 13px 0
}
}
@media all and (max-width:658px) and (min-width:481px) {
#contacts-wraper #screen-holder #welc-desc-holder #welc-phone {
	margin: 18px 0 12px 0
}
}
@media all and (max-width:480px) {
#contacts-wraper #screen-holder #welc-desc-holder #welc-phone {
	margin: 12px 0 8px 0
}
}
#contacts-wraper #screen-holder #welc-desc-holder #welc-email {
	font-family: Sailec;
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.44;
	letter-spacing: -.2px;
	color: #181820;
	text-decoration: none;
	display: inline-table;
	border-bottom: 0px solid #ed5c37;
	line-height: 1.1;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content
}
#contacts-wraper #screen-holder #welc-desc-holder #welc-skype {
	font-family: Sailec;
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.44;
	letter-spacing: -.2px;
	color: #181820;
	text-decoration: none;
	display: inline-table;
	border-bottom: 0px solid #ed5c37;
	line-height: 1.1;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content; margin: 30px 0 21px 0;
}
@media all and (min-width:640px) {
#contacts-wraper #screen-holder #welc-desc-holder #welc-email {
	font-size: 20px;
	line-height: 1.55
}
#contacts-wraper #screen-holder #welc-desc-holder #welc-skype {
	font-size: 20px;
	line-height: 1.55
}
}
@media all and (min-width:1400px) {
#contacts-wraper #screen-holder #welc-desc-holder #welc-email {
	font-size: 24px;
	line-height: 1.58;
	letter-spacing: -.4px
}
#contacts-wraper #screen-holder #welc-desc-holder #welc-skype {
	font-size: 24px;
	line-height: 1.58;
	letter-spacing: -.4px
}
}
#contacts-wraper #screen-holder #welc-desc-holder #welc-email:hover {
	color: #ed5c37
}
#contacts-wraper #screen-holder #welc-desc-holder #welc-skype:hover {
	color: #ed5c37
}
#contacts-wraper #screen-holder img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%
}
@media all and (min-width:1025px) and (max-width:1279px) {
#contacts-wraper #screen-holder img {
	width: 50%
}
}
@media all and (min-width:769px) and (max-width:1024px) {
#contacts-wraper #screen-holder img {
	width: 60%
}
}
@media all and (max-width:768px) and (min-width:659px) {
#contacts-wraper #screen-holder img {
	width: 70%;
	margin-left: 30%
}
}
@media all and (max-width:658px) and (min-width:481px) {
#contacts-wraper #screen-holder img {
	width: 70%;
	margin-left: 40%
}
}
@media all and (max-width:480px) {
#contacts-wraper #screen-holder img {
	width: 100%;
	margin-left: 20%
}
}
#contacts-wraper #contacts-holder {
	margin-top: 86px;
	margin-bottom: 142px;
	position: relative;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row
}
@media all and (min-width:1025px) and (max-width:1279px) {
#contacts-wraper #contacts-holder {
	margin-top: 84px;
	margin-bottom: 115px
}
}
@media all and (min-width:769px) and (max-width:1024px) {
#contacts-wraper #contacts-holder {
	margin-top: 60px;
	margin-bottom: 90px
}
}
@media all and (max-width:768px) and (min-width:659px) {
#contacts-wraper #contacts-holder {
	margin-top: 51px;
	margin-bottom: 70px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}
}
@media all and (max-width:658px) and (min-width:481px) {
#contacts-wraper #contacts-holder {
	margin-top: 49px;
	margin-bottom: 68px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}
}
@media all and (max-width:480px) {
#contacts-wraper #contacts-holder {
	margin-top: 49px;
	margin-bottom: 51px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}
}
#contacts-wraper #contacts-holder li {
	list-style: none;
	display: inline-block
}
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont .ninja-forms-all-fields-wrap .submit-wrap input[type=Submit], #contacts-wraper #contacts-holder .btn {
	font-family: 'Ubuntu', sans-serif; font-weight:500;
	font-size: 16px;
	letter-spacing: -.2px;
	color: #f0f0f0
}
@media all and (max-width:480px) {
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont .ninja-forms-all-fields-wrap .submit-wrap input[type=Submit], #contacts-wraper #contacts-holder .btn {
	width: 100%!important
}
}
#contacts-wraper #contacts-holder #contact-intro-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 8;
	-ms-flex: 8;
	flex: 8;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-right: 220px;
	background-color: #fff;
	z-index: 2
}
@media all and (min-width:1280px) and (max-width:1440px) {
#contacts-wraper #contacts-holder #contact-intro-wrap {
	-webkit-box-flex: 7;
	-ms-flex: 7;
	flex: 7
}
}
@media all and (min-width:1025px) and (max-width:1279px) {
#contacts-wraper #contacts-holder #contact-intro-wrap {
	-webkit-box-flex: 7;
	-ms-flex: 7;
	flex: 7;
	padding-right: 81px
}
}
@media all and (min-width:769px) and (max-width:1024px) {
#contacts-wraper #contacts-holder #contact-intro-wrap {
	-webkit-box-flex: 7;
	-ms-flex: 7;
	flex: 7;
	padding-right: 50px
}
}
@media all and (max-width:768px) and (min-width:659px) {
#contacts-wraper #contacts-holder #contact-intro-wrap {
	padding-right: 0
}
}
@media all and (max-width:658px) and (min-width:481px) {
#contacts-wraper #contacts-holder #contact-intro-wrap {
	padding-right: 0
}
}
@media all and (max-width:480px) {
#contacts-wraper #contacts-holder #contact-intro-wrap {
	padding-right: 0
}
}
#contacts-wraper #contacts-holder #contact-intro-wrap #intro-title {
	font-size: 36px;
	line-height: 1.17;
	letter-spacing: -.8px;
	color: #181820;
	font-family: Sailec-Medium,sans-serif;
	margin-bottom: 12px;
	font-weight: 500;
	padding-top: 13px
}
@media all and (min-width:1025px) and (max-width:1279px) {
#contacts-wraper #contacts-holder #contact-intro-wrap #intro-title {
	font-size: 34px
}
}
@media all and (min-width:769px) and (max-width:1024px) {
#contacts-wraper #contacts-holder #contact-intro-wrap #intro-title {
	font-size: 30px;
	margin-bottom: 8px;
	padding-top: 9px
}
}
@media all and (max-width:768px) and (min-width:659px) {
#contacts-wraper #contacts-holder #contact-intro-wrap #intro-title {
	font-size: 30px;
	margin-bottom: 8px;
	padding-top: 10px
}
}
@media all and (max-width:658px) and (min-width:481px) {
#contacts-wraper #contacts-holder #contact-intro-wrap #intro-title {
	font-size: 28px;
	margin-bottom: 7px;
	padding-top: 8px
}
}
@media all and (max-width:480px) {
#contacts-wraper #contacts-holder #contact-intro-wrap #intro-title {
	font-size: 26px;
	margin-bottom: 7px;
	padding-top: 5px
}
}
#contacts-wraper #contacts-holder #contact-intro-wrap #intro-detail {
	display: inline-block;
	font-family: Sailec;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	color: #595960;
	margin-top: 12px
}
@media all and (min-width:480px) {
#contacts-wraper #contacts-holder #contact-intro-wrap #intro-detail {
	font-size: 16px
}
}
@media all and (min-width:1400px) {
#contacts-wraper #contacts-holder #contact-intro-wrap #intro-detail {
	font-size: 18px;
	line-height: 1.67
}
}
@media all and (min-width:769px) and (max-width:1024px) {
#contacts-wraper #contacts-holder #contact-intro-wrap #intro-detail {
	width: 60%
}
}
@media all and (max-width:768px) {
#contacts-wraper #contacts-holder #contact-intro-wrap #intro-detail {
	margin-top: 10px
}
}
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont {
	margin-top: -50px;
	margin-bottom: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-item-align: stretch;
	align-self: stretch;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}
@media all and (min-width:1025px) and (max-width:1279px) {
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont {
	margin-top: 45px;
	margin-bottom: 25px
}
}
@media all and (min-width:769px) and (max-width:1024px) {
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont {
	margin-top: 30px;
	margin-bottom: 22px
}
}
@media all and (max-width:768px) and (min-width:659px) {
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont {
	margin-top: 35px
}
}
@media all and (max-width:658px) and (min-width:481px) {
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont {
	margin-top: 30px
}
}
@media all and (max-width:480px) {
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont {
	margin-top: 25px;
	margin-bottom: 30px
}
}
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont .ninja-forms-form-wrap {
	width: 100%
}
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont .ninja-forms-req-symbol {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	letter-spacing: -.2px;
	color: #e51f1f
}
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont .ninja-forms-response-msg {
	display: none
}
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont .form-title-error {
	color: #e51f1f!important
}
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont .form-input-error {
	border-bottom: 2px solid #e51f1f!important
}
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont .ninja-forms-all-fields-wrap .field-wrap {
	position: relative;
	width: 100%;
	margin-top: 25px;
	margin-bottom: 25px
}
@media all and (min-width:769px) and (max-width:1024px) {
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont .ninja-forms-all-fields-wrap .field-wrap {
	margin-top: 13px;
	margin-bottom: 13px
}
}
@media all and (max-width:768px) and (min-width:659px) {
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont .ninja-forms-all-fields-wrap .field-wrap {
	margin-top: 15px;
	margin-bottom: 15px
}
}
@media all and (max-width:658px) and (min-width:481px) {
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont .ninja-forms-all-fields-wrap .field-wrap {
	margin-top: 14px;
	margin-bottom: 14px
}
}
@media all and (max-width:480px) {
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont .ninja-forms-all-fields-wrap .field-wrap {
	margin-top: 13px;
	margin-bottom: 13px
}
}
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont .ninja-forms-all-fields-wrap .field-wrap label {
	text-transform: uppercase;
	display: inline-block;
	font-family: Sailec-Bold;
	font-size: 12px;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 1.7px;
	color: #181820;
	opacity: .4;
	width: 60%
}
@media all and (min-width:640px) {
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont .ninja-forms-all-fields-wrap .field-wrap label {
	line-height: 1.67
}
}
@media all and (min-width:1280px) {
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont .ninja-forms-all-fields-wrap .field-wrap label {
	line-height: 1.75
}
}
@media all and (min-width:1400px) {
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont .ninja-forms-all-fields-wrap .field-wrap label {
	font-size: 13px;
	letter-spacing: 1.9px
}
}
@media all and (max-width:480px) {
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont .ninja-forms-all-fields-wrap .field-wrap label {
	width: 70%
}
}
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont .ninja-forms-all-fields-wrap .field-wrap .ninja-forms-field-error {
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	width: 40%;
	font-family: 'Ubuntu', sans-serif;
	text-align: right;
	font-size: 14px;
	letter-spacing: -.2px;
	color: #e51f1f
}
@media all and (min-width:769px) and (max-width:1024px) {
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont .ninja-forms-all-fields-wrap .field-wrap .ninja-forms-field-error {
	font-size: 12px
}
}
@media all and (max-width:768px) and (min-width:659px) {
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont .ninja-forms-all-fields-wrap .field-wrap .ninja-forms-field-error {
	font-size: 12px
}
}
@media all and (max-width:658px) and (min-width:481px) {
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont .ninja-forms-all-fields-wrap .field-wrap .ninja-forms-field-error {
	font-size: 11px
}
}
@media all and (max-width:480px) {
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont .ninja-forms-all-fields-wrap .field-wrap .ninja-forms-field-error {
	font-size: 10px;
	width: 30%
}
}
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont .ninja-forms-all-fields-wrap .text-wrap .dfield input {
	margin-left: 0!important;
	font-size: 18px;
	line-height: 1.67;
	font-family: Sailec,Evolventa,sans-serif;
	width: 100%;
	margin-top: 10px;
	border: none;
	-webkit-appearance: none;
	border-bottom: 2px solid #ebebeb
}
@media all and (min-width:769px) and (max-width:1024px) {
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont .ninja-forms-all-fields-wrap .text-wrap .dfield input {
	font-size: 16px;
	margin-top: 5px
}
}
@media all and (max-width:768px) and (min-width:659px) {
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont .ninja-forms-all-fields-wrap .text-wrap .dfield input {
	margin-top: 6px;
	font-size: 15px
}
}
@media all and (max-width:658px) and (min-width:481px) {
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont .ninja-forms-all-fields-wrap .text-wrap .dfield input {
	margin-top: 5px;
	font-size: 14px
}
}
@media all and (max-width:480px) {
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont .ninja-forms-all-fields-wrap .text-wrap .dfield input {
	margin-top: 4px;
	font-size: 14px
}
}
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont .ninja-forms-all-fields-wrap .text-wrap .dfield input:focus {
	border-bottom: 2px solid;
	outline: 0
}
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont .ninja-forms-all-fields-wrap .textarea-wrap label {
	margin-top: 30px
}
@media all and (max-width:480px) {
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont .ninja-forms-all-fields-wrap .textarea-wrap label {
	margin-top: 20px
}
}
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont .ninja-forms-all-fields-wrap .textarea-wrap .dfield textarea {
	-webkit-appearance: none;
	margin-left: 0!important;
	font-size: 18px;
	line-height: 1.67;
	height: 100px;
	font-family: 'Ubuntu', sans-serif;
	width: 100%;
	margin-top: 10px;
	border: 2px solid #ebebeb;
	resize: none
}
@media all and (min-width:769px) and (max-width:1024px) {
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont .ninja-forms-all-fields-wrap .textarea-wrap .dfield textarea {
	font-size: 16px;
	margin-top: 5px
}
}
@media all and (max-width:768px) and (min-width:659px) {
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont .ninja-forms-all-fields-wrap .textarea-wrap .dfield textarea {
	margin-top: 6px;
	font-size: 15px
}
}
@media all and (max-width:658px) and (min-width:481px) {
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont .ninja-forms-all-fields-wrap .textarea-wrap .dfield textarea {
	margin-top: 5px;
	font-size: 14px
}
}
@media all and (max-width:480px) {
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont .ninja-forms-all-fields-wrap .textarea-wrap .dfield textarea {
	margin-top: 4px;
	font-size: 14px
}
}
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont .ninja-forms-all-fields-wrap .textarea-wrap .dfield textarea:focus {
	border: 2px solid;
	outline: 0
}
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont .ninja-forms-all-fields-wrap .list-dropdown-wrap {
	display: none
}
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont .ninja-forms-all-fields-wrap .submit-wrap input[type=Submit] {
	-webkit-appearance: none;
	width: 244px!important;
	height: 56px!important;
	min-height: 56px!important;
	font-family: Sailec-Medium,sans-serif;
	font-size: 16px;
	border: none;
	display: inline-block;
	letter-spacing: -.2px;
	color: #f0f0f0
}
@media all and (max-width:480px) {
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont .ninja-forms-all-fields-wrap .submit-wrap input[type=Submit] {
	width: 100%!important
}
}
#contacts-wraper #contacts-holder #contact-intro-wrap .ninja-forms-cont .ninja-forms-all-fields-wrap .custom_contact_field-wrap {
	opacity: 0
}
#contacts-wraper #contacts-holder #contact-intro-wrap #client-blank {
	margin-top: 50px;
	margin-bottom: 30px
}
@media all and (min-width:1025px) and (max-width:1279px) {
#contacts-wraper #contacts-holder #contact-intro-wrap #client-blank {
	margin-top: 45px;
	margin-bottom: 25px
}
}
@media all and (min-width:769px) and (max-width:1024px) {
#contacts-wraper #contacts-holder #contact-intro-wrap #client-blank {
	margin-top: 30px;
	margin-bottom: 22px
}
}
@media all and (max-width:768px) and (min-width:659px) {
#contacts-wraper #contacts-holder #contact-intro-wrap #client-blank {
	margin-top: 35px
}
}
@media all and (max-width:658px) and (min-width:481px) {
#contacts-wraper #contacts-holder #contact-intro-wrap #client-blank {
	margin-top: 30px
}
}
@media all and (max-width:480px) {
#contacts-wraper #contacts-holder #contact-intro-wrap #client-blank {
	margin-top: 25px;
	margin-bottom: 30px
}
}
#contacts-wraper #contacts-holder #contact-intro-wrap #client-blank li {
	width: 100%;
	margin-top: 18px;
	margin-bottom: 18px
}
@media all and (min-width:769px) and (max-width:1024px) {
#contacts-wraper #contacts-holder #contact-intro-wrap #client-blank li {
	margin-top: 13px;
	margin-bottom: 13px
}
}
@media all and (max-width:768px) and (min-width:659px) {
#contacts-wraper #contacts-holder #contact-intro-wrap #client-blank li {
	margin-top: 15px;
	margin-bottom: 15px
}
}
@media all and (max-width:658px) and (min-width:481px) {
#contacts-wraper #contacts-holder #contact-intro-wrap #client-blank li {
	margin-top: 14px;
	margin-bottom: 14px
}
}
@media all and (max-width:480px) {
#contacts-wraper #contacts-holder #contact-intro-wrap #client-blank li {
	margin-top: 13px;
	margin-bottom: 13px
}
}
#contacts-wraper #contacts-holder #contact-intro-wrap #client-blank li span {
	display: inline-block;
	width: 40%
}
#contacts-wraper #contacts-holder #contact-intro-wrap #client-blank li span:first-child {
	font-family: 'Ubuntu', sans-serif; font-weight:700;
	font-size: 12px;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 1.7px;
	color: #181820;
	opacity: .4;
	width: 60%
}
@media all and (min-width:640px) {
#contacts-wraper #contacts-holder #contact-intro-wrap #client-blank li span:first-child {
	line-height: 1.67
}
}
@media all and (min-width:1280px) {
#contacts-wraper #contacts-holder #contact-intro-wrap #client-blank li span:first-child {
	line-height: 1.75
}
}
@media all and (min-width:1400px) {
#contacts-wraper #contacts-holder #contact-intro-wrap #client-blank li span:first-child {
	font-size: 13px;
	letter-spacing: 1.9px
}
}
@media all and (max-width:480px) {
#contacts-wraper #contacts-holder #contact-intro-wrap #client-blank li span:first-child {
	width: 70%
}
}
#contacts-wraper #contacts-holder #contact-intro-wrap #client-blank li span:nth-of-type(2) {
	font-family: 'Ubuntu', sans-serif;
	text-align: right;
	font-size: 14px;
	letter-spacing: -.2px;
	color: #e51f1f;
	display: none
}
@media all and (min-width:769px) and (max-width:1024px) {
#contacts-wraper #contacts-holder #contact-intro-wrap #client-blank li span:nth-of-type(2) {
	font-size: 12px
}
}
@media all and (max-width:768px) and (min-width:659px) {
#contacts-wraper #contacts-holder #contact-intro-wrap #client-blank li span:nth-of-type(2) {
	font-size: 12px
}
}
@media all and (max-width:658px) and (min-width:481px) {
#contacts-wraper #contacts-holder #contact-intro-wrap #client-blank li span:nth-of-type(2) {
	font-size: 11px
}
}
@media all and (max-width:480px) {
#contacts-wraper #contacts-holder #contact-intro-wrap #client-blank li span:nth-of-type(2) {
	font-size: 10px;
	width: 30%
}
}
#contacts-wraper #contacts-holder #contact-intro-wrap #client-blank li input {
	font-size: 18px;
	line-height: 1.67;
	font-family: 'Ubuntu', sans-serif;
	width: 100%;
	margin-top: 10px;
	border: none;
	border-bottom: 2px solid #ebebeb
}
@media all and (min-width:769px) and (max-width:1024px) {
#contacts-wraper #contacts-holder #contact-intro-wrap #client-blank li input {
	font-size: 16px;
	margin-top: 5px
}
}
@media all and (max-width:768px) and (min-width:659px) {
#contacts-wraper #contacts-holder #contact-intro-wrap #client-blank li input {
	margin-top: 6px;
	font-size: 15px
}
}
@media all and (max-width:658px) and (min-width:481px) {
#contacts-wraper #contacts-holder #contact-intro-wrap #client-blank li input {
	margin-top: 5px;
	font-size: 14px
}
}
@media all and (max-width:480px) {
#contacts-wraper #contacts-holder #contact-intro-wrap #client-blank li input {
	margin-top: 4px;
	font-size: 14px
}
}
#contacts-wraper #contacts-holder #contact-intro-wrap #client-blank li input:focus {
	border-bottom: 2px solid;
	outline: 0
}
#contacts-wraper #contacts-holder .hidden-empty-blank {
	opacity: 0!important;
	z-index: -1!important
}
@media all and (max-width:768px) {
#contacts-wraper #contacts-holder .hidden-empty-blank {
	display: none!important
}
}
#contacts-wraper #contacts-holder form {
	margin-top: 50px
}
#contacts-wraper #contacts-holder #success-blank {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	z-index: 2;
	position: absolute;
	-ms-flex-pack: center;
	-webkit-box-pack: center;
	justify-content: center;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%)
}
@media all and (max-width:768px) {
#contacts-wraper #contacts-holder #success-blank {
	position: relative;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	left: auto
}
}
@media all and (max-width:768px) and (min-width:659px) {
#contacts-wraper #contacts-holder #success-blank {
	height: auto
}
}
@media all and (max-width:658px) and (min-width:481px) {
#contacts-wraper #contacts-holder #success-blank {
	height: auto
}
}
@media all and (max-width:480px) {
#contacts-wraper #contacts-holder #success-blank {
	height: auto
}
}
#contacts-wraper #contacts-holder #success-blank span:first-child {
	font-size: 36px;
	font-family: 'Ubuntu', sans-serif; font-weight:500;
	line-height: 1.17;
	letter-spacing: -.8px;
	margin-bottom: 15px
}
@media all and (min-width:1025px) and (max-width:1279px) {
#contacts-wraper #contacts-holder #success-blank span:first-child {
	font-size: 34px;
	margin-bottom: 13px
}
}
@media all and (min-width:769px) and (max-width:1024px) {
#contacts-wraper #contacts-holder #success-blank span:first-child {
	font-size: 30px;
	margin-bottom: 10px
}
}
@media all and (min-width:481px) and (max-width:768px) {
#contacts-wraper #contacts-holder #success-blank span:first-child {
	font-size: 26px;
	margin-bottom: 12px
}
}
@media all and (max-width:480px) {
#contacts-wraper #contacts-holder #success-blank span:first-child {
	font-size: 24px;
	margin-bottom: 10px
}
}
#contacts-wraper #contacts-holder #success-blank span:nth-of-type(2) {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	color: #595960;
	margin-bottom: 34px
}
@media all and (min-width:480px) {
#contacts-wraper #contacts-holder #success-blank span:nth-of-type(2) {
	font-size: 16px
}
}
@media all and (min-width:1400px) {
#contacts-wraper #contacts-holder #success-blank span:nth-of-type(2) {
	font-size: 18px;
	line-height: 1.67
}
}
#contacts-wraper #contacts-holder #contact-credits {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 6;
	-ms-flex: 6;
	flex: 6;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background-color: #f8f8f9;
	padding:20px;
	min-height: 500px
}
@media all and (min-width:1025px) and (max-width:1279px) {
#contacts-wraper #contacts-holder #contact-credits {
	-webkit-box-flex: 5;
	-ms-flex: 5;
	flex: 5
}
}
@media all and (min-width:1280px) and (max-width:1440px) {
#contacts-wraper #contacts-holder #contact-credits {
	-webkit-box-flex: 6;
	-ms-flex: 6;
	flex: 6
}
}
@media all and (min-width:769px) and (max-width:1024px) {
#contacts-wraper #contacts-holder #contact-credits {
	-webkit-box-flex: 5;
	-ms-flex: 5;
	flex: 5
}
}
@media all and (max-width:768px) and (min-width:659px) {
#contacts-wraper #contacts-holder #contact-credits {
	min-height: 0;
	margin-top: 83px
}
}
@media all and (max-width:658px) and (min-width:481px) {
#contacts-wraper #contacts-holder #contact-credits {
	margin-top: 80px;
	min-height: 0
}
}
@media all and (max-width:480px) {
#contacts-wraper #contacts-holder #contact-credits {
	display: none
}
}
#contacts-wraper #contacts-holder #contact-credits #contact-credit-wrap {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly
}
@media all and (max-width:768px) and (min-width:659px) {
#contacts-wraper #contacts-holder #contact-credits #contact-credit-wrap {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%
}
}
@media all and (max-width:658px) and (min-width:481px) {
#contacts-wraper #contacts-holder #contact-credits #contact-credit-wrap {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 99%
}
}
#contacts-wraper #contacts-holder #contact-credits #contact-credit-wrap .credit-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row; margin: 0 0 20px 0;
}


@media all and (max-width:768px) and (min-width:659px) {
#contacts-wraper #contacts-holder #contact-credits #contact-credit-wrap .credit-item {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	width: 50%;margin-top: 0;
margin-bottom: 60px; marging-left:4%;
}
}
@media all and (max-width:658px) and (min-width:481px) {
#contacts-wraper #contacts-holder #contact-credits #contact-credit-wrap .credit-item {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	width: 50%
}
}
#contacts-wraper #contacts-holder #contact-credits #contact-credit-wrap .credit-item .credit-item-img {
	margin-right: 5px
}
#contacts-wraper #contacts-holder #contact-credits #contact-credit-wrap .credit-item .credit-item-img img {
	margin-top: -4px
}
#contacts-wraper #contacts-holder #contact-credits #contact-credit-wrap .credit-item div:nth-of-type(2) {
	width: auto
}
#contacts-wraper #contacts-holder #contact-credits #contact-credit-wrap .credit-item div:nth-of-type(2) * {
	display: block
}
#contacts-wraper #contacts-holder #contact-credits #contact-credit-wrap .credit-item div:nth-of-type(2) .credit-item-title {
	font-family: Sailec-Bold;
	font-size: 12px;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 1.7px;
	color: #181820;
	text-transform: uppercase;
	margin-bottom: 15px
}
@media all and (min-width:640px) {
#contacts-wraper #contacts-holder #contact-credits #contact-credit-wrap .credit-item div:nth-of-type(2) .credit-item-title {
	line-height: 1.67
}
}
@media all and (min-width:1280px) {
#contacts-wraper #contacts-holder #contact-credits #contact-credit-wrap .credit-item div:nth-of-type(2) .credit-item-title {
	line-height: 1.75
}
}
@media all and (min-width:1400px) {
#contacts-wraper #contacts-holder #contact-credits #contact-credit-wrap .credit-item div:nth-of-type(2) .credit-item-title {
	font-size: 13px;
	letter-spacing: 1.9px
}
}
@media all and (min-width:769px) and (max-width:1024px) {
#contacts-wraper #contacts-holder #contact-credits #contact-credit-wrap .credit-item div:nth-of-type(2) .credit-item-title {
	margin-bottom: 8px
}
}
@media all and (max-width:768px) and (min-width:659px) {
#contacts-wraper #contacts-holder #contact-credits #contact-credit-wrap .credit-item div:nth-of-type(2) .credit-item-title {
	margin-bottom: 5px
}
}
@media all and (max-width:658px) and (min-width:481px) {
#contacts-wraper #contacts-holder #contact-credits #contact-credit-wrap .credit-item div:nth-of-type(2) .credit-item-title {
	margin-bottom: 5px;
	font-size: 11px
}
}
#contacts-wraper #contacts-holder #contact-credits #contact-credit-wrap .credit-item div:nth-of-type(2) .credit-item-desc {
	font-family: Sailec,sans-serif;
	font-size: 15px;
	line-height: 1.67;
	color: #595960
}
@media all and (min-width:769px) and (max-width:1024px) {
#contacts-wraper #contacts-holder #contact-credits #contact-credit-wrap .credit-item div:nth-of-type(2) .credit-item-desc {
	font-size: 13px
}
}
@media all and (max-width:768px) and (min-width:659px) {
#contacts-wraper #contacts-holder #contact-credits #contact-credit-wrap .credit-item div:nth-of-type(2) .credit-item-desc {
	font-size: 14px
}
}
@media all and (max-width:658px) and (min-width:481px) {
#contacts-wraper #contacts-holder #contact-credits #contact-credit-wrap .credit-item div:nth-of-type(2) .credit-item-desc {
	font-size: 12px
}
}
#contacts-wraper #contacts-holder #contact-credits #contact-credit-wrap .credit-item a {
	text-decoration: none;
	display: inline-table!important;
	border-bottom: 1px solid;
	line-height: 1.1!important;
	width: auto!important
}
#contacts-wraper #contacts-holder #contact-credits #contact-credit-wrap .credit-item a:hover {
	border-bottom: 1px solid #ed5c37
}
@media all and (max-width:768px) and (min-width:659px) {
#contacts-wraper #contacts-holder #contact-credits #contact-credit-wrap .credit-item:nth-of-type(2) {
	width: 50%;
	margin-left: 0
}
}
@media all and (max-width:658px) and (min-width:481px) {
#contacts-wraper #contacts-holder #contact-credits #contact-credit-wrap .credit-item:nth-of-type(2) {
	width: 45%;
	margin-left: 5%
}
}
@media all and (max-width:768px) and (min-width:659px) {
#contacts-wraper #contacts-holder #contact-credits #contact-credit-wrap .credit-item:nth-of-type(5) {
	width: 50%;
	margin-left: 0;
	margin-bottom: 60px
}
}
@media all and (max-width:658px) and (min-width:481px) {
#contacts-wraper #contacts-holder #contact-credits #contact-credit-wrap .credit-item:nth-of-type(5) {
	width: 45%;
	margin-left: 5%
}
}
@media all and (max-width:768px) and (min-width:659px) {
#contacts-wraper #contacts-holder #contact-credits #contact-credit-wrap .credit-item:nth-of-type(3) {
	width: 50%;
	margin-top: 0;
	margin-bottom: 60px
}
}
@media all and (max-width:658px) and (min-width:481px) {
#contacts-wraper #contacts-holder #contact-credits #contact-credit-wrap .credit-item:nth-of-type(3) {
	width: 100%;
	margin-top: 55px;
	margin-bottom: 40px
}
}

@media only screen and (max-width: 767px){
	#contacts-wraper #screen-holder #welc-desc-holder #welc-desc { margin-bottom:10px;}
	#contacts-wraper #screen-holder p img{ margin-left:0;}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	#contacts-wraper #screen-holder #welc-desc-holder #welc-desc { margin-bottom:10px;}
	#contacts-wraper #screen-holder p img{ margin-left:0;}
}