.member-item-animation {
	opacity: 0;
	top: 30px;
	position: relative;
	-webkit-animation-name: team-animation;
	animation-name: team-animation;
	-webkit-animation-duration: .8s;
	animation-duration: .8s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards
}
@-webkit-keyframes team-animation {
100% {
opacity:1;
top:0
}
}
@keyframes team-animation {
100% {
opacity:1;
top:0
}
}
.member-item-animation:nth-child(1), .member-item-animation:nth-child(2) {
	-webkit-animation-delay: .2s;
	animation-delay: .2s
}
@media only screen and (min-width:769px) {
.member-item-animation:nth-child(1), .member-item-animation:nth-child(2), .member-item-animation:nth-child(3) {
	-webkit-animation-delay: .2s!important;
	animation-delay: .2s!important
}
}
.member-item-animation:nth-child(3), .member-item-animation:nth-child(4) {
	-webkit-animation-delay: 1s;
	animation-delay: 1s
}
@media only screen and (min-width:769px) {
.member-item-animation:nth-child(4), .member-item-animation:nth-child(5), .member-item-animation:nth-child(6) {
	-webkit-animation-delay: 1s!important;
	animation-delay: 1s!important
}
}
.member-item-animation:nth-child(5), .member-item-animation:nth-child(6) {
	-webkit-animation-delay: 1.8s;
	animation-delay: 1.8s
}
@media only screen and (min-width:769px) {
.member-item-animation:nth-child(7), .member-item-animation:nth-child(8), .member-item-animation:nth-child(9) {
	-webkit-animation-delay: 1.8s!important;
	animation-delay: 1.8s!important
}
}
.member-item-animation:nth-child(7), .member-item-animation:nth-child(8) {
	-webkit-animation-delay: 2.6s;
	animation-delay: 2.6s
}
@media only screen and (min-width:769px) {
.member-item-animation:nth-child(10), .member-item-animation:nth-child(11), .member-item-animation:nth-child(12) {
	-webkit-animation-delay: 2.6s!important;
	animation-delay: 2.6s!important
}
}
.member-item-animation:nth-child(10), .member-item-animation:nth-child(9) {
	-webkit-animation-delay: 3.4s;
	animation-delay: 3.4s
}
@media only screen and (min-width:769px) {
.member-item-animation:nth-child(13), .member-item-animation:nth-child(14), .member-item-animation:nth-child(15) {
	-webkit-animation-delay: 3.4s!important;
	animation-delay: 3.4s!important
}
}
.member-item-animation:nth-child(11), .member-item-animation:nth-child(12) {
	-webkit-animation-delay: 4.2s;
	animation-delay: 4.2s
}
@media only screen and (min-width:769px) {
.member-item-animation:nth-child(16), .member-item-animation:nth-child(17), .member-item-animation:nth-child(18) {
	-webkit-animation-delay: 4.2s!important;
	animation-delay: 4.2s!important
}
}
.member-item-animation:nth-child(13), .member-item-animation:nth-child(14) {
	-webkit-animation-delay: 5s;
	animation-delay: 5s
}
@media only screen and (min-width:769px) {
.member-item-animation:nth-child(19), .member-item-animation:nth-child(20), .member-item-animation:nth-child(21) {
	-webkit-animation-delay: 5s!important;
	animation-delay: 5s!important
}
}
.member-item-animation:nth-child(15), .member-item-animation:nth-child(16) {
	-webkit-animation-delay: 5.8s;
	animation-delay: 5.8s
}
@media only screen and (min-width:769px) {
.member-item-animation:nth-child(22), .member-item-animation:nth-child(23), .member-item-animation:nth-child(24) {
	-webkit-animation-delay: 5.8s!important;
	animation-delay: 5.8s!important
}
}
.member-item-animation:nth-child(17), .member-item-animation:nth-child(18) {
	-webkit-animation-delay: 6.6s;
	animation-delay: 6.6s
}
@media only screen and (min-width:769px) {
.member-item-animation:nth-child(25), .member-item-animation:nth-child(26), .member-item-animation:nth-child(27) {
	-webkit-animation-delay: 6.6s!important;
	animation-delay: 6.6s!important
}
}
.member-item-animation:nth-child(19), .member-item-animation:nth-child(20) {
	-webkit-animation-delay: 7.4s;
	animation-delay: 7.4s
}
@media only screen and (min-width:769px) {
.member-item-animation:nth-child(28), .member-item-animation:nth-child(29), .member-item-animation:nth-child(30) {
	-webkit-animation-delay: 7.4s!important;
	animation-delay: 7.4s!important
}
}
#our-team-wraper .H1 {
	font-family: Sailec-Medium;
	font-size: 30px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.2;
	letter-spacing: -.4px;
	color: #181820;
	margin-top: 75px;
	margin-bottom: 87px
}
@media all and (min-width:640px) {
#our-team-wraper .H1 {
	font-size: 34px;
	line-height: 1.24;
	letter-spacing: -.8px
}
}
@media all and (min-width:1280px) {
#our-team-wraper .H1 {
	font-size: 48px;
	line-height: 1.31;
	letter-spacing: -1px
}
}
@media all and (min-width:1025px) and (max-width:1279px) {
#our-team-wraper .H1 {
	font-size: 48px;
	line-height: 1.31px;
	letter-spacing: -1px;
	margin-top: 134px;
	margin-bottom: 91px
}
}
@media all and (min-width:769px) and (max-width:1024px) {
#our-team-wraper .H1 {
	font-size: 40px;
	line-height: 1.2;
	letter-spacing: -1px;
	margin-top: 100px;
	margin-bottom: 70px
}
}
@media all and (min-width:481px) and (max-width:768px) {
#our-team-wraper .H1 {
	font-size: 32px;
	line-height: 1.24;
	letter-spacing: -.8px;
	margin-top: 81px;
	margin-bottom: 60.5px
}
}
@media all and (max-width:480px) {
#our-team-wraper .H1 {
	font-size: 30px;
	line-height: 1.2;
	letter-spacing: -.4px;
	margin-top: 45px;
	margin-bottom: 50px
}
}
@media all and (min-width:1280px) {
#our-team-wraper .H1 {
	margin-top: 130px;
	margin-bottom: 90px;
	font-size: 72px
}
}
#our-team-wraper .team-holder .biscuit-back {
	background-color: #fff6e5
}
#our-team-wraper .team-holder .grey-back {
	background-color: #f7f7f9
}
@media all and (max-width:768px) {
#our-team-wraper .team-holder .blank-item {
	display: none
}
}
@media all and (min-width:769px) {
#our-team-wraper .team-holder .blank-small-item {
	display: none
}
}
#our-team-wraper .team-holder .member-item {
	padding: 0;
	margin-top: 99.5px
}
@media all and (min-width:1025px) and (max-width:1279px) {
#our-team-wraper .team-holder .member-item {
	margin-top: 73px
}
}
@media all and (min-width:769px) and (max-width:1024px) {
#our-team-wraper .team-holder .member-item {
	margin-top: 69px
}
}
@media all and (min-width:481px) and (max-width:768px) {
#our-team-wraper .team-holder .member-item {
	margin-top: 67px
}
}
@media all and (max-width:480px) {
#our-team-wraper .team-holder .member-item {
	margin-top: 52px
}
}
#our-team-wraper .team-holder .member-item .member-img {
	width: 100%;
	display: inline-block
}
#our-team-wraper .team-holder .member-item .member-cred {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background-color: #fff;
	text-align: center;
	font-family: Sailec-Medium,sans-serif;
	padding-top: 28px
}
@media all and (min-width:1025px) and (max-width:1279px) {
#our-team-wraper .team-holder .member-item .member-cred {
	padding-top: 22.4px
}
}
@media all and (max-width:768px) {
#our-team-wraper .team-holder .member-item .member-cred {
	padding-top: 14px
}
}
#our-team-wraper .team-holder .member-item .member-cred .member-name {
	display: block;
	width: 100%;
	color: #201f2c;
	line-height: 1.67;
	font-size: 18px
}
@media all and (max-width:1279px) and (min-width:481px) {
#our-team-wraper .team-holder .member-item .member-cred .member-name {
	line-height: 1.5;
	font-size: 16px
}
}
@media all and (max-width:480px) {
#our-team-wraper .team-holder .member-item .member-cred .member-name {
	font-size: 12px;
	line-height: 1.5
}
}
#our-team-wraper .team-holder .member-item .member-cred .member-pos {
	display: block;
	width: 100%;
	color: #606068;
	line-height: 1.88;
	font-size: 18px
}
@media all and (min-width:481px) and (max-width:1279px) {
#our-team-wraper .team-holder .member-item .member-cred .member-pos {
	line-height: 1.5;
	font-size: 16px
}
}
@media all and (max-width:480px) {
#our-team-wraper .team-holder .member-item .member-cred .member-pos {
	font-size: 12px;
	line-height: 1.5
}
}
#our-team-wraper hr {
	border: none;
	border-bottom: 1px solid #979797;
	opacity: .3;
	margin-bottom: 69px;
	margin-top: 69px
}
@media all and (min-width:1025px) and (max-width:1279px) {
#our-team-wraper hr {
	margin-bottom: 46.5px;
	margin-top: 69px
}
}
@media all and (min-width:1025px) and (max-width:1279px) {
#our-team-wraper hr {
	margin-top: 69px
}
}
@media all and (min-width:481px) and (max-width:768px) {
#our-team-wraper hr {
	margin-top: 69px;
	margin-bottom: 46.5px
}
}
@media all and (max-width:480px) {
#our-team-wraper hr {
	margin-top: 71px;
	margin-bottom: 60px
}
}
#our-team-wraper .sep-info {
	margin-top: 100px;
	margin-bottom: 40px
}
@media all and (min-width:1025px) and (max-width:1279px) {
#our-team-wraper .sep-info {
	margin-top: 151px;
	margin-bottom: 30px
}
}
@media all and (min-width:1025px) and (max-width:1279px) {
#our-team-wraper .sep-info {
	margin-top: 140px;
	margin-bottom: 25px
}
}
@media all and (min-width:481px) and (max-width:768px) {
#our-team-wraper .sep-info {
	margin-top: 128px;
	margin-bottom: 20px
}
}
@media all and (max-width:480px) {
#our-team-wraper .sep-info {
	margin-top: 85px;
	margin-bottom: 15px
}
}
