.case-item {
	background-size: cover;
	background-position: 50%;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	position: relative;
	overflow: hidden;
	cursor: pointer
}
@media all and (min-width:1024px) and (max-width:1239px) {
.case-item {
	height: 360px
}
}
@media all and (min-width:1240px) and (max-width:1439px) {
.case-item {
	height: 439px
}
}
@media all and (min-width:1440px) {
.case-item {
	height: 500px
}
}
@media all and (max-width:1024px) and (min-width:769px) {
.case-item {
	height: 330px
}
}
@media all and (max-width:768px) and (min-width:659px) {
.case-item {
	height: 306px
}
}
@media all and (max-width:658px) and (min-width:481px) {
.case-item {
	height: 280px
}
}
@media all and (max-width:480px) {
.case-item {
	height: 314px
}
}
@media all and (max-width:480px) {
.case-item {
	margin-bottom: 1.3px
}
}
.case-item:after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.7);
	opacity: 0;
	-webkit-transition: all .2s;
	transition: all .2s;
	z-index: 3
}
.case-item .case-img {
	background-size: cover;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2
}
.case-item .case-desc {
	top: 43.1px;
	left: 50px;
	z-index: 10;
	position: absolute;
	height: calc(100% - 43.1px);
	width: 70%
}
@media all and (min-width:1025px) and (max-width:1279px) {
.case-item .case-desc {
	top: 33.1px;
	left: 31px;
	width: calc(100% - 62px)
}
}
@media all and (max-width:1024px) and (min-width:769px) {
.case-item .case-desc {
	top: 15px;
	left: 15px;
	width: calc(100% - 30px)
}
}
@media all and (max-width:768px) and (min-width:659px) {
.case-item .case-desc {
	top: 33.1px;
	left: 32.9px;
	width: calc(100% - 65.6px)
}
}
@media all and (max-width:658px) and (min-width:481px) {
.case-item .case-desc {
	top: 23.1px;
	left: 22.9px;
	width: calc(100% - 45.6px)
}
}
@media all and (max-width:480px) {
.case-item .case-desc {
	top: 30.7px;
	left: 21px;
	width: calc(100% - 42px)
}
}
.case-item .case-desc .case-type {
	font-family: Sailec-Bold, sans-serif;
	font-size: 12px;
	color: #fff;
	opacity: .6;
	letter-spacing: 1.8px;
	z-index: 11
}
@media all and (max-width:1024px) and (min-width:769px) {
.case-item .case-desc .case-type {
	font-size: 10px
}
}
@media all and (max-width:768px) and (min-width:659px) {
.case-item .case-desc .case-type {
	font-size: 12px;
	letter-spacing: 1.8px
}
}
@media all and (max-width:658px) and (min-width:481px) {
.case-item .case-desc .case-type {
	font-size: 12px;
	letter-spacing: 1.2px
}
}
@media all and (max-width:480px) {
.case-item .case-desc .case-type {
	font-size: 11px;
	letter-spacing: 1.6px
}
}
.case-item .case-desc .case-title {
	margin-top: 6px;
	line-height: 1.36;
	letter-spacing: -.2px;
	font-family: Sailec-Medium, sans-serif;
	font-weight: 500;
	font-size: 24px;
	color: #fff
}
@media all and (min-width:1025px) and (max-width:1279px) {
.case-item .case-desc .case-title {
	line-height: 1.4;
	font-size: 20px
}
}
@media all and (max-width:1024px) and (min-width:769px) {
.case-item .case-desc .case-title {
	font-size: 20px;
	line-height: 1.3
}
}
@media all and (max-width:768px) and (min-width:659px) {
.case-item .case-desc .case-title {
	font-size: 20px;
	line-height: 1.4;
	letter-spacing: -.1px
}
}
@media all and (max-width:658px) and (min-width:481px) {
.case-item .case-desc .case-title {
	font-size: 18px;
	line-height: 1.4;
	letter-spacing: -.1px
}
}
@media all and (max-width:480px) {
.case-item .case-desc .case-title {
	font-size: 18px;
	line-height: 1.56;
	letter-spacing: -.1px;
	margin-top: 12.9px
}
}
.case-item .case-desc .case-detail {
	font-family: Sailec, sans-serif;
	visibility: hidden;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
	position: absolute;
	bottom: 107px;
	left: -5px;
	font-size: 17px;
	line-height: 1.45;
	opacity: .6;
	color: #fff;
	width: 100%
}
@media all and (min-width:1025px) and (max-width:1279px) {
.case-item .case-desc .case-detail {
	font-size: 16px;
	line-height: 1.4;
	bottom: 87px
}
}
@media all and (max-width:1024px) and (min-width:769px) {
.case-item .case-desc .case-detail {
	font-size: 16px;
	line-height: 1.4;
	bottom: 50px
}
}
.case-item .case-desc .case-tech {
	font-family: Sailec-Bold, sans-serif;
	white-space: nowrap;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
	visibility: hidden;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
	position: absolute;
	bottom: 51.7px;
	left: -5px;
	font-size: 10px;
	letter-spacing: 1px;
	color: #fff;
}
@media all and (min-width:1025px) and (max-width:1279px) {
.case-item .case-desc .case-tech {
	bottom: 30px
}
}
@media all and (max-width:1024px) and (min-width:890px) {
.case-item .case-desc .case-tech {
	bottom: 10px
}
}
@media all and (max-width:889px) and (min-width:769px) {
.case-item .case-desc .case-tech {
	bottom: 10px;
	font-size: 8px
}
}
@media all and (max-width:480px) {
.case-item .case-desc .case-tech {
	visibility: visible;
	color: #fff;
	bottom: 30px
}
}
.case-item .case-desc .case-tech span {
	display: inline;
	margin-right: 11px;
	margin-top: 5px
}
@media all and (min-width:1025px) and (max-width:1279px) {
.case-item .case-desc .case-tech span {
	margin-right: 5px
}
}
@media all and (max-width:1024px) and (min-width:769px) {
.case-item .case-desc .case-tech span {
	margin-right: 1px
}
}
@media all and (max-width:1024px) and (min-width:769px) {
.case-item .case-desc .desc-long-text {
	font-size: 14px
}
}
.case-item:hover:after {
	opacity: 1
}
.case-item:hover .case-img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1)
}
@media all and (min-width:769px) {
.case-item:hover .case-detail {
	visibility: visible;
	left: 0
}
}
@media all and (min-width:769px) {
.case-item:hover .case-tech {
	visibility: visible;
	left: 0
}
}
#technology-wraper h1 {
	font-family: Sailec-Medium;
	font-size: 30px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.2;
	letter-spacing: -.4px;
	color: #181820;
	margin-top: 105px;
	margin-bottom: 85px
}
@media all and (min-width:640px) {
#technology-wraper h1 {
	font-size: 34px;
	line-height: 1.24;
	letter-spacing: -.8px
}
}
@media all and (min-width:1280px) {
#technology-wraper h1 {
	font-size: 48px;
	line-height: 1.31;
	letter-spacing: -1px
}
}
@media all and (min-width:1025px) and (max-width:1279px) {
#technology-wraper h1 {
	font-size: 42px;
	letter-spacing: -1px;
	line-height: 1.31;
	margin-top: 118px;
	margin-bottom: 88.5px
}
}
@media all and (min-width:769px) and (max-width:1024px) {
#technology-wraper h1 {
	font-size: 36px;
	margin-top: 80px;
	margin-bottom: 70px;
	letter-spacing: -1px;
	line-height: 1.31
}
}
@media all and (max-width:768px) and (min-width:481px) {
#technology-wraper h1 {
	font-size: 34px;
	letter-spacing: -.8px;
	line-height: 1.24;
	margin-top: 67px;
	margin-bottom: 29.5px
}
}
@media all and (max-width:480px) {
#technology-wraper h1 {
	margin-top: 72px;
	margin-bottom: 53px;
	line-height: 1.2;
	letter-spacing: -.4px
}
}
@media all and (min-width:1280px) {
#technology-wraper h1 {
	margin-top: 130px;
	margin-bottom: 90px;
	font-size: 72px
}
}
#technology-wraper .big-logos-holder {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-top: 95px;
	margin-bottom: 100px;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}
@media all and (min-width:1025px) and (max-width:1279px) {
#technology-wraper .big-logos-holder {
	margin-top: 63px
}
}
@media all and (min-width:769px) and (max-width:1024px) {
#technology-wraper .big-logos-holder {
	margin-top: 60px
}
}
@media all and (max-width:768px) and (min-width:659px) {
#technology-wraper .big-logos-holder {
	margin-top: 50px
}
}
@media all and (max-width:658px) and (min-width:481px) {
#technology-wraper .big-logos-holder {
	margin-top: 40px;
	margin-bottom: 60px
}
}
@media all and (max-width:480px) {
#technology-wraper .big-logos-holder {
	margin-top: 20px;
	margin-bottom: 50px
}
}
#technology-wraper .big-logos-holder .big-logo-item {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}
@media all and (max-width:480px) {
#technology-wraper .big-logos-holder .big-logo-item {
	margin: 10px 1px;
	width: 32%;
	-webkit-box-flex: 0;
	-ms-flex: none;
	flex: none
}
}
#technology-wraper .big-logos-holder .big-logo-item img {
	width: 80px;
	height: 80px
}
@media all and (max-width:1024px) and (min-width:769px) {
#technology-wraper .big-logos-holder .big-logo-item img {
	width: 70px;
	max-height: 70px
}
}
@media all and (max-width:768px) and (min-width:659px) {
#technology-wraper .big-logos-holder .big-logo-item img {
	width: 65px;
	max-height: 65px
}
}
@media all and (max-width:658px) and (min-width:481px) {
#technology-wraper .big-logos-holder .big-logo-item img {
	width: 60px;
	max-height: 60px
}
}
@media all and (max-width:480px) {
#technology-wraper .big-logos-holder .big-logo-item img {
	width: 55px;
	max-height: 55px
}
}
@media all and (max-width:555px) {
#technology-wraper .big-logos-holder .big-logo-item:last-of-type {
	display: none
}
}
#technology-wraper .big-logos-holder .big-logo-item .big-logo-title {
	display: block;
	width: 100%;
	text-align: center;
	font-family: Sailec-Medium, sans-serif;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: -.3px;
	color: #606068;
	margin-top: 14px
}
@media all and (max-width:658px) and (min-width:481px) {
#technology-wraper .big-logos-holder .big-logo-item .big-logo-title {
	font-size: 10px;
	line-height: 1.1;
	margin-top: 10px
}
}
@media all and (max-width:480px) {
#technology-wraper .big-logos-holder .big-logo-item .big-logo-title {
	font-size: 11px;
	line-height: 1.33;
	margin-top: 9px
}
}
#technology-wraper .big-logos-holder .express-logo img {
	width: 160px
}
@media all and (max-width:1024px) and (min-width:769px) {
#technology-wraper .big-logos-holder .express-logo img {
	width: 140px
}
}
@media all and (max-width:768px) and (min-width:659px) {
#technology-wraper .big-logos-holder .express-logo img {
	width: 120px
}
}
@media all and (max-width:658px) and (min-width:481px) {
#technology-wraper .big-logos-holder .express-logo img {
	width: 110px
}
}
@media all and (max-width:480px) {
#technology-wraper .big-logos-holder .express-logo img {
	width: 100px
}
}
#technology-wraper .main-goals-holder {
	width: 100%;
	background-color: #000;
	margin-bottom: 120px;
	padding-top: 70px;
	padding-bottom: 70px
}
@media all and (max-width:768px) and (min-width:659px) {
#technology-wraper .main-goals-holder {
	padding-bottom: 50px;
	padding-top: 50px
}
}
@media all and (max-width:658px) and (min-width:481px) {
#technology-wraper .main-goals-holder {
	padding-bottom: 40px;
	padding-top: 40px
}
}
@media all and (max-width:480px) {
#technology-wraper .main-goals-holder {
	padding-bottom: 20px;
	padding-top: 20px
}
}
#technology-wraper .main-goals-holder .term-more {
	display: block;
	font-family: Sailec-Medium, sans-serif;
	margin-top: 33px;
	margin-bottom: 59px;
	padding-left: 20px;
	cursor: pointer;
	-ms-flex-preferred-size: auto;
	flex-basis: auto;
	text-decoration: none
}
@media all and (min-width:1025px) and (max-width:1279px) {
#technology-wraper .main-goals-holder .term-more {
	padding-left: 0
}
}
@media all and (min-width:769px) and (max-width:1024px) {
#technology-wraper .main-goals-holder .term-more {
	padding-left: 0;
	margin-top: 23px;
	margin-bottom: 50px;
	margin-left: 0
}
}
@media all and (min-width:481px) and (max-width:768px) {
#technology-wraper .main-goals-holder .term-more {
	margin-top: 18px;
	letter-spacing: -.1px;
	margin-bottom: 38px
}
}
@media all and (max-width:480px) {
#technology-wraper .main-goals-holder .term-more {
	margin-top: 15px;
	font-size: 14px;
	padding-left: 0;
	letter-spacing: -.1px;
	margin-bottom: 20px
}
}
#technology-wraper .main-goals-holder .term-more .term-more-title {
	font-size: 15px;
	color: #181820;
	letter-spacing: -.1px
}
@media all and (max-width:1439px) {
#technology-wraper .main-goals-holder .term-more .term-more-title {
	font-size: 14px
}
}
@media all and (min-width:481px) and (max-width:768px) {
#technology-wraper .main-goals-holder .term-more .term-more-title {
	font-size: 14px
}
}
#technology-wraper .main-goals-holder .term-more .term-more-icon {
	display: inline-block;
	margin-bottom: -2px;
	color: #ed5c37;
	padding-left: 13px;
	padding-top: 3px;
	-webkit-transition: .1s ease-in;
	transition: .1s ease-in
}
#technology-wraper .main-goals-holder .term-more:hover .term-more-title {
	color: #ed5c37
}
#technology-wraper .main-goals-holder .term-more:hover .term-more-icon {
	padding-left: 18px
}
#technology-wraper .main-goals-holder [class*=col] {
	padding-left: 0;
	padding-right: 0
}
#technology-wraper .main-goals-holder .term-more {
	margin-bottom: 0;
	margin-top: 30px;
	padding-left: 0
}
@media all and (min-width:769px) and (max-width:1024px) {
#technology-wraper .main-goals-holder .term-more {
	margin-top: 20px
}
}
@media all and (max-width:768px) and (min-width:659px) {
#technology-wraper .main-goals-holder .term-more {
	margin-top: 20px
}
}
@media all and (max-width:658px) and (min-width:481px) {
#technology-wraper .main-goals-holder .term-more {
	margin-top: 15px
}
}
@media all and (max-width:480px) {
#technology-wraper .main-goals-holder .term-more {
	margin-top: 17px
}
}
#technology-wraper .main-goals-holder .term-more .term-more-title {
	color: #fff
}
#technology-wraper .main-goals-holder .goal-item {
	margin: 60px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row
}
@media all and (min-width:1025px) and (max-width:1279px) {
#technology-wraper .main-goals-holder .goal-item {
	margin: 50px 0
}
}
@media all and (min-width:769px) and (max-width:1024px) {
#technology-wraper .main-goals-holder .goal-item {
	margin: 35px 0
}
}
@media all and (max-width:768px) and (min-width:659px) {
#technology-wraper .main-goals-holder .goal-item {
	margin: 33px 0
}
}
@media all and (max-width:658px) and (min-width:481px) {
#technology-wraper .main-goals-holder .goal-item {
	margin: 30px 0
}
}
@media all and (max-width:480px) {
#technology-wraper .main-goals-holder .goal-item {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 30px 0;
	text-align: center
}
}
#technology-wraper .main-goals-holder .goal-item .goal-image-holder img {
	width: 100%;
	margin-top: -10px
}
@media all and (max-width:480px) {
#technology-wraper .main-goals-holder .goal-item .goal-image-holder img {
	width: auto;
	margin-bottom: 15px
}
}
#technology-wraper .main-goals-holder .goal-item .goal-desc-holder {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-left: 15px
}
@media all and (min-width:769px) and (max-width:1024px) {
#technology-wraper .main-goals-holder .goal-item .goal-desc-holder {
	padding-left: 10px
}
}
@media all and (max-width:768px) and (min-width:659px) {
#technology-wraper .main-goals-holder .goal-item .goal-desc-holder {
	padding-left: 8px
}
}
@media all and (max-width:658px) and (min-width:481px) {
#technology-wraper .main-goals-holder .goal-item .goal-desc-holder {
	padding-left: 5px
}
}
@media all and (max-width:480px) {
#technology-wraper .main-goals-holder .goal-item .goal-desc-holder {
	padding-left: 0
}
}
#technology-wraper .main-goals-holder .goal-item .goal-desc-holder .goal-top .goal-desc-title {
	color: #fff;
	font-family: Sailec-Medium, sans-serif;
	font-size: 34px;
	letter-spacing: -.8px;
	line-height: 1.24
}
@media all and (min-width:1025px) and (max-width:1279px) {
#technology-wraper .main-goals-holder .goal-item .goal-desc-holder .goal-top .goal-desc-title {
	font-size: 30px;
	line-height: 1.27;
	letter-spacing: -.4px
}
}
@media all and (min-width:769px) and (max-width:1024px) {
#technology-wraper .main-goals-holder .goal-item .goal-desc-holder .goal-top .goal-desc-title {
	font-size: 29px;
	line-height: 1.2;
	letter-spacing: -.4px
}
}
@media all and (max-width:768px) and (min-width:659px) {
#technology-wraper .main-goals-holder .goal-item .goal-desc-holder .goal-top .goal-desc-title {
	font-size: 26px;
	line-height: 1.1;
	letter-spacing: -.4px
}
}
@media all and (max-width:658px) and (min-width:481px) {
#technology-wraper .main-goals-holder .goal-item .goal-desc-holder .goal-top .goal-desc-title {
	font-size: 24px;
	line-height: 1;
	letter-spacing: -.2px
}
}
@media all and (max-width:480px) {
#technology-wraper .main-goals-holder .goal-item .goal-desc-holder .goal-top .goal-desc-title {
	font-size: 26px;
	line-height: 1.08;
	letter-spacing: -.3px
}
}
#technology-wraper .main-goals-holder .goal-item .goal-desc-holder .goal-top .goal-desc {
	color: #fff;
	opacity: .5;
	font-family: Sailec, sans-serif;
	font-size: 18px;
	line-height: 1.67;
	width: 90%;
	margin-top: 15px
}
@media all and (min-width:1025px) and (max-width:1279px) {
#technology-wraper .main-goals-holder .goal-item .goal-desc-holder .goal-top .goal-desc {
	font-size: 16px;
	line-height: 1.5
}
}
@media all and (min-width:769px) and (max-width:1024px) {
#technology-wraper .main-goals-holder .goal-item .goal-desc-holder .goal-top .goal-desc {
	font-size: 15px;
	line-height: 1.47
}
}
@media all and (max-width:768px) and (min-width:659px) {
#technology-wraper .main-goals-holder .goal-item .goal-desc-holder .goal-top .goal-desc {
	font-size: 14px;
	line-height: 1.3
}
}
@media all and (max-width:658px) and (min-width:481px) {
#technology-wraper .main-goals-holder .goal-item .goal-desc-holder .goal-top .goal-desc {
	font-size: 12px;
	line-height: 1.2
}
}
@media all and (max-width:480px) {
#technology-wraper .main-goals-holder .goal-item .goal-desc-holder .goal-top .goal-desc {
	font-size: 14px;
	line-height: 1.5;
	width: 100%
}
}
#technology-wraper .num-terms-holder {
	margin-top: 86px;
	margin-bottom: 115px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row
}
#technology-wraper .num-terms-holder>div {
	width: 100%
}
@media all and (max-width:1279px) and (min-width:769px) {
#technology-wraper .num-terms-holder {
	margin-top: 30px;
	margin-bottom: 70px
}
}
@media all and (max-width:768px) and (min-width:481px) {
#technology-wraper .num-terms-holder {
	margin-top: 30px;
	margin-bottom: 50px
}
}
@media all and (max-width:768px) and (min-width:659px) {
#technology-wraper .num-terms-holder {
	margin-bottom: 80px
}
}
@media all and (max-width:480px) {
#technology-wraper .num-terms-holder {
	margin-top: 0
}
}
@media all and (max-width:658px) and (min-width:481px) {
#technology-wraper .num-terms-holder {
	margin-bottom: 60px
}
}
@media all and (max-width:480px) {
#technology-wraper .num-terms-holder {
	margin-top: 20px;
	margin-bottom: 30px
}
}
@media all and (min-width:1440px) {
#technology-wraper .num-terms-holder {
	width: calc(1440px - 260px + 0px)
}
}
@media all and (min-width:1280px) and (max-width:1440px) {
#technology-wraper .num-terms-holder {
	width: calc(100% - 260px + 0px)
}
}
@media all and (min-width:1025px) and (max-width:1279px) {
#technology-wraper .num-terms-holder {
	width: calc(100% - 140px + 0px)
}
}
@media all and (max-width:1024px) and (min-width:769px) {
#technology-wraper .num-terms-holder {
	width: calc(100% - 63px + 0px)
}
}
@media all and (max-width:768px) and (min-width:659px) {
#technology-wraper .num-terms-holder {
	width: calc(100% - 100px + 0px)
}
}
@media all and (max-width:658px) and (min-width:481px) {
#technology-wraper .num-terms-holder {
	width: calc(100% - 70px + 0px)
}
}
@media all and (max-width:480px) {
#technology-wraper .num-terms-holder {
	width: calc(100% - 41px + 0px)
}
}
@media all and (min-width:1440px) {
#technology-wraper .num-terms-holder {
	margin-left: auto;
	margin-right: auto
}
}
@media all and (min-width:1280px) and (max-width:1440px) {
#technology-wraper .num-terms-holder {
	margin-left: calc(130px - 0px / 2)
}
}
@media all and (min-width:1025px) and (max-width:1279px) {
#technology-wraper .num-terms-holder {
	margin-left: calc(70px - 0px / 2)
}
}
@media all and (max-width:1024px) and (min-width:769px) {
#technology-wraper .num-terms-holder {
	margin-left: calc(32.5px - 0px / 2)
}
}
@media all and (max-width:768px) and (min-width:659px) {
#technology-wraper .num-terms-holder {
	margin-left: calc(50px - 0px / 2)
}
}
@media all and (max-width:658px) and (min-width:481px) {
#technology-wraper .num-terms-holder {
	margin-left: calc(35px - 0px / 2)
}
}
@media all and (max-width:480px) {
#technology-wraper .num-terms-holder {
	margin-left: calc(20.5px - 0px / 2)
}
}
#technology-wraper .num-terms-holder .num-terms-item {
	padding-left: 0;
	padding-right: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	-webkit-transition: .2s ease-in;
	transition: .2s ease-in;
	margin: 60px 0
}
#technology-wraper .num-terms-holder .num-terms-item .row {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	margin-left: 0!important;
	margin-right: 0!important
}
@media all and (min-width:769px) and (max-width:1024px) {
#technology-wraper .num-terms-holder .num-terms-item {
	margin: 40px 0
}
}
@media all and (max-width:768px) and (min-width:659px) {
#technology-wraper .num-terms-holder .num-terms-item {
	margin: 25px 0
}
}
@media all and (max-width:658px) and (min-width:481px) {
#technology-wraper .num-terms-holder .num-terms-item {
	margin: 20px 0
}
}
@media all and (max-width:480px) {
#technology-wraper .num-terms-holder .num-terms-item {
	margin: 0
}
}
#technology-wraper .num-terms-holder .num-terms-item .row {
	width: 100%
}
#technology-wraper .num-terms-holder .num-terms-item .num {
	font-family: publicasans, sans-serif;
	color: #ed5c37;
	font-size: 38px;
	margin-top: -4px;
	text-align: right;
	display: inline;
	line-height: 1.2
}
@media all and (min-width:1025px) and (max-width:1279px) {
#technology-wraper .num-terms-holder .num-terms-item .num {
	font-size: 32px
}
}
@media all and (max-width:1024px) and (min-width:890px) {
#technology-wraper .num-terms-holder .num-terms-item .num {
	font-size: 32px;
	margin-left: 8.33333333%
}
}
@media all and (max-width:889px) and (min-width:769px) {
#technology-wraper .num-terms-holder .num-terms-item .num {
	font-size: 30px;
	margin-left: 8.33333333%
}
}
@media all and (max-width:768px) and (min-width:659px) {
#technology-wraper .num-terms-holder .num-terms-item .num {
	font-size: 32px;
	margin-left: 8.33333333%
}
}
@media all and (max-width:658px) and (min-width:481px) {
#technology-wraper .num-terms-holder .num-terms-item .num {
	font-size: 28px;
	margin-left: 8.33333333%
}
}
@media all and (max-width:480px) {
#technology-wraper .num-terms-holder .num-terms-item .num {
	font-size: 30px;
	margin-bottom: 12px;
	text-align: left;
	padding-top: 20px;
	padding-left: 0;
	margin-left: 0;
	margin-top: 0
}
}
@media all and (max-width:480px) {
#technology-wraper .num-terms-holder .num-terms-item .term {
	padding-top: 11px;
	padding-right: 0;
	padding-left: 0
}
}
#technology-wraper .num-terms-holder .num-terms-item .term .term-title {
	color: #181820;
	font-size: 36px;
	font-family: Sailec-Medium, sans-serif;
	line-height: 1.24;
	letter-spacing: -.8px;
	vertical-align: bottom;
	padding-left: 15px
}
@media all and (min-width:1025px) and (max-width:1279px) {
#technology-wraper .num-terms-holder .num-terms-item .term .term-title {
	font-size: 28px
}
}
@media all and (max-width:1024px) and (min-width:890px) {
#technology-wraper .num-terms-holder .num-terms-item .term .term-title {
	font-size: 28px
}
}
@media all and (max-width:889px) and (min-width:769px) {
#technology-wraper .num-terms-holder .num-terms-item .term .term-title {
	font-size: 27px
}
}
@media all and (max-width:768px) and (min-width:659px) {
#technology-wraper .num-terms-holder .num-terms-item .term .term-title {
	font-size: 30px;
	letter-spacing: -.4px
}
}
@media all and (max-width:658px) and (min-width:481px) {
#technology-wraper .num-terms-holder .num-terms-item .term .term-title {
	font-size: 21px;
	letter-spacing: 0;
	text-indent: 10px
}
}
@media all and (max-width:480px) {
#technology-wraper .num-terms-holder .num-terms-item .term .term-title {
	font-size: 26px;
	line-height: 1.08;
	letter-spacing: -.3px;
	padding-left: 0;
	margin-left: 0
}
}
#technology-wraper .num-terms-holder .num-terms-item .term .term-desc {
	padding-top: 15px;
	padding-left: 15px;
	font-family: Sailec, sans-serif;
	color: #595960;
	font-size: 18px;
	line-height: 1.67;
	width: 80%
}
@media all and (max-width:768px) {
#technology-wraper .num-terms-holder .num-terms-item .term .term-desc {
	line-height: 1.5
}
}
@media all and (max-width:1439px) {
#technology-wraper .num-terms-holder .num-terms-item .term .term-desc {
	font-size: 16px
}
}
@media all and (min-width:1025px) and (max-width:1279px) {
#technology-wraper .num-terms-holder .num-terms-item .term .term-desc {
	font-size: 16px;
	line-height: 1.31
}
}
@media all and (max-width:1024px) and (min-width:890px) {
#technology-wraper .num-terms-holder .num-terms-item .term .term-desc {
	font-size: 16px;
	line-height: 1.31
}
}
@media all and (max-width:889px) and (min-width:769px) {
#technology-wraper .num-terms-holder .num-terms-item .term .term-desc {
	font-size: 14px;
	line-height: 1.3;
	padding-top: 20px
}
}
@media all and (max-width:768px) and (min-width:659px) {
#technology-wraper .num-terms-holder .num-terms-item .term .term-desc {
	padding-top: 5px;
	font-size: 16px
}
}
@media all and (max-width:658px) and (min-width:481px) {
#technology-wraper .num-terms-holder .num-terms-item .term .term-desc {
	padding-top: 5px;
	font-size: 16px
}
}
@media all and (max-width:480px) {
#technology-wraper .num-terms-holder .num-terms-item .term .term-desc {
	font-size: 15px;
	padding-top: 28.5px;
	padding-left: 0
}
}
#technology-wraper .small-logo-holder {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 50px;
	margin-bottom: 140px
}
@media all and (min-width:769px) and (max-width:1024px) {
#technology-wraper .small-logo-holder {
	margin-top: 30px;
	margin-bottom: 87px
}
}
@media all and (max-width:768px) and (min-width:659px) {
#technology-wraper .small-logo-holder {
	margin-top: 28px;
	margin-bottom: 60px
}
}
@media all and (max-width:658px) and (min-width:481px) {
#technology-wraper .small-logo-holder {
	margin-top: 25px;
	margin-bottom: 50px
}
}
@media all and (max-width:480px) {
#technology-wraper .small-logo-holder {
	margin-bottom: 104px;
	margin-top: 0
}
}
#technology-wraper .small-logo-holder .small-logo-item {
	padding-left: 0;
	padding-right: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 60px
}
@media all and (min-width:769px) and (max-width:1024px) {
#technology-wraper .small-logo-holder .small-logo-item {
	margin-top: 40px
}
}
@media all and (max-width:768px) and (min-width:659px) {
#technology-wraper .small-logo-holder .small-logo-item {
	margin-top: 30px
}
}
@media all and (max-width:658px) and (min-width:481px) {
#technology-wraper .small-logo-holder .small-logo-item {
	margin-top: 25px
}
}
#technology-wraper .small-logo-holder .small-logo-item .small-logo-title {
	font-family: 'Ubuntu', sans-serif; font-weight:700;
	font-size: 12px;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 1.7px;
	color: #181820
}
@media all and (min-width:640px) {
#technology-wraper .small-logo-holder .small-logo-item .small-logo-title {
	line-height: 1.67
}
}
@media all and (min-width:1280px) {
#technology-wraper .small-logo-holder .small-logo-item .small-logo-title {
	line-height: 1.75
}
}
@media all and (min-width:1400px) {
#technology-wraper .small-logo-holder .small-logo-item .small-logo-title {
	font-size: 13px;
	letter-spacing: 1.9px
}
}
#technology-wraper .small-logo-holder .small-logo-item .small-logo-techs {
	margin-top: 40px;
	margin-left: -25px;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 75%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}
@media all and (min-width:1025px) and (max-width:1279px) {
#technology-wraper .small-logo-holder .small-logo-item .small-logo-techs {
	width: 90%;
	margin-left: -10px
}
}
@media all and (min-width:769px) and (max-width:1024px) {
#technology-wraper .small-logo-holder .small-logo-item .small-logo-techs {
	width: 90%;
	margin-left: -10px
}
}
@media all and (max-width:768px) and (min-width:659px) {
#technology-wraper .small-logo-holder .small-logo-item .small-logo-techs {
	width: 93%;
	margin-left: -8px;
	margin-top: 25px
}
}
@media all and (max-width:658px) and (min-width:481px) {
#technology-wraper .small-logo-holder .small-logo-item .small-logo-techs {
	width: 95%;
	margin-left: -5px;
	margin-top: 20px
}
}
@media all and (max-width:480px) {
#technology-wraper .small-logo-holder .small-logo-item .small-logo-techs {
	width: 100%;
	margin-left: -7%
}
}

#technology-wraper .small-logo-holder .small-logo-item .small-logo-techs.tools .small-logo-tech-item img{width:35px}
#technology-wraper .small-logo-holder .small-logo-item .small-logo-techs .small-logo-tech-item.wordpress img{width:35px}
#technology-wraper .small-logo-holder .small-logo-item .small-logo-techs .small-logo-tech-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 25px;
	width: 33%
}
@media all and (max-width:658px) and (min-width:481px) {
#technology-wraper .small-logo-holder .small-logo-item .small-logo-techs .small-logo-tech-item img {
	height: 50%
}
}
#technology-wraper .small-logo-holder .small-logo-item .small-logo-techs .small-logo-tech-item .small-logo-tech {
	display: block;
	margin-top: 8px;
	font-family: Sailec-Medium, sans-serif;
	font-size: 12px;
	letter-spacing: -.3px;
	line-height: 1.33
}
@media all and (max-width:768px) and (min-width:659px) {
#technology-wraper .small-logo-holder .small-logo-item .small-logo-techs .small-logo-tech-item .small-logo-tech {
	font-size: 10px;
	letter-spacing: -.2px;
	line-height: 1.1
}
}
@media all and (max-width:658px) and (min-width:481px) {
#technology-wraper .small-logo-holder .small-logo-item .small-logo-techs .small-logo-tech-item .small-logo-tech {
	font-size: 8px;
	letter-spacing: -.4px;
	line-height: 1.1
}
}
#technology-wraper .blog-holder {
	margin-top: 96px;
	margin-bottom: 146px;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap
}
@media all and (min-width:1025px) and (max-width:1279px) {
#technology-wraper .blog-holder {
	margin-top: 68px;
	margin-bottom: 132px
}
}
@media all and (min-width:769px) and (max-width:1024px) {
#technology-wraper .blog-holder {
	margin-top: 40px;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-bottom: 90px
}
}
@media all and (max-width:768px) and (min-width:659px) {
#technology-wraper .blog-holder {
	margin-top: 30px;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-bottom: 50px
}
}
@media all and (max-width:658px) and (min-width:481px) {
#technology-wraper .blog-holder {
	margin-top: 28px;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-bottom: 45px
}
}
@media all and (max-width:480px) {
#technology-wraper .blog-holder {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 20px;
	margin-bottom: 40px
}
}
@media all and (max-width:480px) {
#technology-wraper .blog-holder {
	margin-top: 35px;
	margin-bottom: 51px
}
}
#technology-wraper .blog-holder .blog-item {
	padding-top: 46px;
	padding-left: 43px;
	padding-bottom: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	cursor: pointer
}
#technology-wraper .blog-holder .blog-item:link {
	text-decoration: none
}
@media all and (min-width:769px) and (max-width:1024px) {
#technology-wraper .blog-holder .blog-item {
	padding-left: 17px;
	margin-top: 26px
}
}
@media all and (max-width:768px) and (min-width:659px) {
#technology-wraper .blog-holder .blog-item {
	padding-left: 15px;
	margin-top: 26px
}
}
@media all and (max-width:658px) and (min-width:481px) {
#technology-wraper .blog-holder .blog-item {
	padding-left: 10px;
	margin-top: 15px;
	padding-top: 25px;
	padding-bottom: 30px
}
}
@media all and (max-width:480px) {
#technology-wraper .blog-holder .blog-item {
	padding-left: 20.5px;
	margin-left: -20.5px!important;
	min-width: calc(100% + 41px)
}
}
#technology-wraper .blog-holder .blog-item:hover {
	background-color: #f9f9fb
}
#technology-wraper .blog-holder .blog-item:hover .term-more .term-more-title {
	color: #ed5c37
}
#technology-wraper .blog-holder .blog-item:hover .term-more .term-more-icon {
	padding-left: 18px
}
#technology-wraper .blog-holder .blog-item .blog-top .blog-time {
	font-family: 'Ubuntu', sans-serif; font-weight:700;
	font-size: 13px;
	letter-spacing: 1.9px;
	color: #606068
}
#technology-wraper .blog-holder .blog-item .blog-top .blog-user {
	margin-top: 15px;
	margin-bottom: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #000
}
@media all and (min-width:1025px) and (max-width:1279px) {
#technology-wraper .blog-holder .blog-item .blog-top .blog-user {
	margin-bottom: 14px
}
}
@media all and (max-width:768px) and (min-width:659px) {
#technology-wraper .blog-holder .blog-item .blog-top .blog-user {
	margin-bottom: 13px
}
}
@media all and (max-width:658px) and (min-width:481px) {
#technology-wraper .blog-holder .blog-item .blog-top .blog-user {
	margin-bottom: 12px
}
}
#technology-wraper .blog-holder .blog-item .blog-top .blog-user .blog-user-ico {
	border-radius: 50%;
	width: 36px;
	height: 36px
}
#technology-wraper .blog-holder .blog-item .blog-top .blog-user .blog-user-name {
	margin-left: 25px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	line-height: 1.13;
	letter-spacing: -.3px
}
#technology-wraper .blog-holder .blog-item .blog-top .blog-title {
	color: #181820;
	font-size: 36px;
	font-family: Sailec-Medium, sans-serif;
	line-height: 1.24;
	letter-spacing: -.8px;
	vertical-align: bottom
}
@media all and (min-width:1025px) and (max-width:1279px) {
#technology-wraper .blog-holder .blog-item .blog-top .blog-title {
	font-size: 28px
}
}
@media all and (max-width:1024px) and (min-width:890px) {
#technology-wraper .blog-holder .blog-item .blog-top .blog-title {
	font-size: 28px;
	width: 75%;
	display: inline-block
}
}
@media all and (max-width:889px) and (min-width:769px) {
#technology-wraper .blog-holder .blog-item .blog-top .blog-title {
	font-size: 27px;
	width: 75%;
	display: inline-block
}
}
@media all and (max-width:768px) and (min-width:659px) {
#technology-wraper .blog-holder .blog-item .blog-top .blog-title {
	font-size: 30px;
	letter-spacing: -.4px
}
}
@media all and (max-width:658px) and (min-width:481px) {
#technology-wraper .blog-holder .blog-item .blog-top .blog-title {
	font-size: 23px;
	letter-spacing: 0;
	text-indent: 10px
}
}
@media all and (max-width:480px) {
#technology-wraper .blog-holder .blog-item .blog-top .blog-title {
	font-size: 26px;
	line-height: 1.08;
	letter-spacing: -.3px;
	padding-left: 0;
	margin-left: 0
}
}
#technology-wraper .blog-holder .blog-item .blog-top .blog-desc {
	font-family: Sailec, sans-serif;
	color: #595960;
	font-size: 18px;
	line-height: 1.67;
	width: 80%;
	margin-top: 16px
}
@media all and (max-width:1439px) {
#technology-wraper .blog-holder .blog-item .blog-top .blog-desc {
	font-size: 16px
}
}
@media all and (min-width:1025px) and (max-width:1279px) {
#technology-wraper .blog-holder .blog-item .blog-top .blog-desc {
	font-size: 16px;
	line-height: 1.31
}
}
@media all and (max-width:1024px) and (min-width:890px) {
#technology-wraper .blog-holder .blog-item .blog-top .blog-desc {
	font-size: 16px;
	line-height: 1.31
}
}
@media all and (max-width:889px) and (min-width:769px) {
#technology-wraper .blog-holder .blog-item .blog-top .blog-desc {
	font-size: 14px;
	line-height: 1.3;
	margin-top: 20px
}
}
@media all and (max-width:768px) and (min-width:659px) {
#technology-wraper .blog-holder .blog-item .blog-top .blog-desc {
	margin-top: 19px;
	font-size: 16px;
	line-height: 1.31
}
}
@media all and (max-width:658px) and (min-width:481px) {
#technology-wraper .blog-holder .blog-item .blog-top .blog-desc {
	margin-top: 19px;
	font-size: 16px;
	line-height: 1.31
}
}
@media all and (max-width:480px) {
#technology-wraper .blog-holder .blog-item .blog-top .blog-desc {
	font-size: 15px;
	line-height: 1.4;
	margin-top: 28.5px
}
}
#technology-wraper .blog-holder .blog-item .term-more {
	display: block;
	font-family: Sailec-Medium, sans-serif;
	margin-top: 33px;
	margin-bottom: 59px;
	padding-left: 20px;
	cursor: pointer;
	-ms-flex-preferred-size: auto;
	flex-basis: auto;
	text-decoration: none
}
@media all and (min-width:1025px) and (max-width:1279px) {
#technology-wraper .blog-holder .blog-item .term-more {
	padding-left: 0
}
}
@media all and (min-width:769px) and (max-width:1024px) {
#technology-wraper .blog-holder .blog-item .term-more {
	padding-left: 0;
	margin-top: 23px;
	margin-bottom: 50px;
	margin-left: 0
}
}
@media all and (min-width:481px) and (max-width:768px) {
#technology-wraper .blog-holder .blog-item .term-more {
	margin-top: 18px;
	letter-spacing: -.1px;
	margin-bottom: 38px
}
}
@media all and (max-width:480px) {
#technology-wraper .blog-holder .blog-item .term-more {
	margin-top: 15px;
	font-size: 14px;
	padding-left: 0;
	letter-spacing: -.1px;
	margin-bottom: 20px
}
}
#technology-wraper .blog-holder .blog-item .term-more .term-more-title {
	font-size: 15px;
	color: #181820;
	letter-spacing: -.1px
}
@media all and (max-width:1439px) {
#technology-wraper .blog-holder .blog-item .term-more .term-more-title {
	font-size: 14px
}
}
@media all and (min-width:481px) and (max-width:768px) {
#technology-wraper .blog-holder .blog-item .term-more .term-more-title {
	font-size: 14px
}
}
#technology-wraper .blog-holder .blog-item .term-more .term-more-icon {
	display: inline-block;
	margin-bottom: -2px;
	color: #ed5c37;
	padding-left: 13px;
	padding-top: 3px;
	-webkit-transition: .1s ease-in;
	transition: .1s ease-in
}
#technology-wraper .blog-holder .blog-item .term-more:hover .term-more-title {
	color: #ed5c37
}
#technology-wraper .blog-holder .blog-item .term-more:hover .term-more-icon {
	padding-left: 18px
}
#technology-wraper .blog-holder .blog-item .term-more {
	padding-left: 0;
	margin-top: 25px;
	margin-bottom: 0
}
#technology-wraper .blog-holder .blog-item:nth-of-type(2n-1) {
	margin-left: -43px
}
@media all and (min-width:1025px) and (max-width:1279px) {
#technology-wraper .blog-holder .blog-item:nth-of-type(2n-1) {
	margin-left: -25px
}
}
@media all and (min-width:769px) and (max-width:1024px) {
#technology-wraper .blog-holder .blog-item:nth-of-type(2n-1) {
	margin-left: 0
}
}
@media all and (max-width:768px) {
#technology-wraper .blog-holder .blog-item:nth-of-type(2n-1) {
	margin-left: 0
}
}
#technology-wraper .blog-holder .blog-item:nth-of-type(2n) {
	margin-left: 86px
}
@media all and (min-width:1025px) and (max-width:1279px) {
#technology-wraper .blog-holder .blog-item:nth-of-type(2n) {
	margin-left: 50px
}
}
@media all and (min-width:769px) and (max-width:1024px) {
#technology-wraper .blog-holder .blog-item:nth-of-type(2n) {
	margin-left: 0
}
}
@media all and (max-width:768px) {
#technology-wraper .blog-holder .blog-item:nth-of-type(2n) {
	margin-left: 0
}
}
#technology-wraper .add-info-holder {
	margin-top: 30px
}
#technology-wraper .add-info-holder .add-info {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	color: #595960;
	display: inline-block;
	width: 70%!important
}
@media all and (min-width:480px) {
#technology-wraper .add-info-holder .add-info {
	font-size: 16px
}
}
@media all and (min-width:1400px) {
#technology-wraper .add-info-holder .add-info {
	font-size: 18px;
	line-height: 1.67
}
}
@media all and (max-width:480px) {
#technology-wraper .add-info-holder .add-info {
	width: 100%!important
}
}
#technology-wraper hr {
	border: none;
	border-bottom: 1px solid #f0f0f0
}
#technology-wraper .related-cases {
	margin-top: 20px;
	margin-bottom: 40px
}
#technology-wraper .related-cases h2 {
	font-family: Sailec-Medium;
	font-size: 26px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.08;
	letter-spacing: -.3px;
	color: #181820;
	text-align: center
}
@media all and (min-width:640px) {
#technology-wraper .related-cases h2 {
	font-size: 30px;
	line-height: 1.27;
	letter-spacing: -.4px
}
}
@media all and (min-width:1280px) {
#technology-wraper .related-cases h2 {
	font-size: 34px;
	line-height: 1.24;
	letter-spacing: -.8px
}
}
@media all and (min-width:769px) {
#technology-wraper .related-cases {
	margin-top: 30px;
	margin-bottom: 64px
}
}
@media all and (min-width:1400px) {
#technology-wraper .related-cases {
	margin-top: 49px
}
}
@media all and (max-width:480px) {
#technology-wraper .related-cases {
	margin-top: 40px;
	margin-bottom: 40px
}
}
#technology-wraper .related-cases .mini-cases {
	margin-top: 36px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}
@media all and (min-width:1280px) {
#technology-wraper .related-cases .mini-cases {
	margin-top: 64px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}
}
@media all and (min-width:769px) {
#technology-wraper .related-cases .mini-cases {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}
}
@media all and (max-width:480px) {
#technology-wraper .related-cases .mini-cases {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}
}
#technology-wraper .related-cases .case-item {
	border: solid 1px #fff;
	max-width: 480px;
	max-height: 480px
}
@media all and (max-width:480px) {
#technology-wraper .related-cases .case-item {
	border: none
}
}
#technology-wraper .related-cases .case-item .case-title {
	font-family: Sailec,sans-serif;
	font-size: 22px;
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.45;
	letter-spacing: -.1px;
	color: #fff
}
@media all and (max-width:1024px) and (min-width:769px) {
#technology-wraper .related-cases .case-item .case-title {
	line-height: 1.3
}
}
#technology-wraper .related-cases .case-item .case-type {
	font-family: Sailec-Bold;
	font-size: 11px;
	letter-spacing: 1.6px;
	color: #fff
}
#technology-wraper .related-cases .case-hackolade .case-img {
	background-image: url(../images/67@2x.jpg)
}
#technology-wraper .related-cases .case-perform .case-img {
	background-image: url(../images/63@2x.jpg)
}
#technology-wraper .related-cases .case-massage {
	display: block!important
}

#technology-wraper .related-cases .case-frontend-1 .case-img {
	background-image: url(../images/frontend-1.jpg)
}
#technology-wraper .related-cases .case-frontend-2 .case-img {
	background-image: url(../images/frontend-2.jpg)
}
#technology-wraper .related-cases .case-frontend-3 .case-img {
	background-image: url(../images/frontend-3.jpg)
}

#technology-wraper .related-cases .case-massage .case-img {
	background-image: url(../images/62@2x.jpg)
}
#technology-wraper .related-cases .case-fanangel .case-img {
	background-image: url(../images/66@2x.jpg)
}
#technology-wraper .related-cases .case-pss .case-img {
	background-image: url(../images/65.jpg)
}
#technology-wraper .related-cases .case-swissphone-mobile .case-img {
	background-image: url(../images/68.jpg)
}
#technology-wraper .related-cases .case-swissphone .case-img {
	background-image: url(../images/66@2x.jpg)
}
#technology-wraper .related-cases .case-dynamicres .case-img {
	background-image: url(../images/63@2x.jpg)
}
#technology-wraper .terms-holder {
	margin-top: 120px;
	margin-bottom: 49px
}
@media all and (min-width:769px) and (max-width:1024px) {
#technology-wraper .terms-holder {
	margin-bottom: 49px
}
}
@media all and (max-width:768px) and (min-width:659px) {
#technology-wraper .terms-holder {
	margin-bottom: 49px
}
}
@media all and (max-width:658px) and (min-width:481px) {
#technology-wraper .terms-holder {
	margin-bottom: 45px;
	margin-top: 40px
}
}
@media all and (max-width:480px) {
#technology-wraper .terms-holder {
	margin-bottom: 56px;
	margin-top: 20px
}
}
#technology-wraper .terms-holder .term-item .term-item-multi img {
	width: calc(100% - 57px)
}
@media all and (max-width:1024px) {
#technology-wraper .terms-holder .term-item .term-item-multi img {
	width: 100%;
	margin-bottom: 18px
}
}
#technology-wraper .terms-holder .term-item .num-terms-item {
	padding: 0
}
#technology-wraper .terms-holder .term-item .num-terms-item .term-title {
	color: #181820;
	font-size: 36px;
	font-family: 'Ubuntu', sans-serif;
	line-height: 1.24;
	letter-spacing: -.8px;
	vertical-align: bottom
}
@media all and (min-width:1025px) and (max-width:1279px) {
#technology-wraper .terms-holder .term-item .num-terms-item .term-title {
	font-size: 28px
}
}
@media all and (max-width:1024px) and (min-width:890px) {
#technology-wraper .terms-holder .term-item .num-terms-item .term-title {
	font-size: 28px
}
}
@media all and (max-width:889px) and (min-width:769px) {
#technology-wraper .terms-holder .term-item .num-terms-item .term-title {
	font-size: 27px
}
}
@media all and (max-width:768px) and (min-width:659px) {
#technology-wraper .terms-holder .term-item .num-terms-item .term-title {
	font-size: 30px;
	letter-spacing: -.4px
}
}
@media all and (max-width:658px) and (min-width:481px) {
#technology-wraper .terms-holder .term-item .num-terms-item .term-title {
	font-size: 23px;
	letter-spacing: 0;
	text-indent: 10px
}
}
@media all and (max-width:480px) {
#technology-wraper .terms-holder .term-item .num-terms-item .term-title {
	font-size: 26px;
	line-height: 1.08;
	letter-spacing: -.3px;
	padding-left: 0;
	margin-left: 0
}
}
#technology-wraper .terms-holder .term-item .num-terms-item .term-desc {
	font-family: 'Ubuntu', sans-serif;
	color: #595960;
	font-size: 18px;
	line-height: 1.67;
	width: 80%;
	margin-top: 20px
}
@media all and (max-width:768px) {
#technology-wraper .terms-holder .term-item .num-terms-item .term-desc {
	line-height: 1.5
}
}
@media all and (max-width:1439px) {
#technology-wraper .terms-holder .term-item .num-terms-item .term-desc {
	font-size: 16px
}
}
@media all and (min-width:1025px) and (max-width:1279px) {
#technology-wraper .terms-holder .term-item .num-terms-item .term-desc {
	font-size: 16px;
	line-height: 1.31
}
}
@media all and (max-width:1024px) and (min-width:890px) {
#technology-wraper .terms-holder .term-item .num-terms-item .term-desc {
	font-size: 16px;
	line-height: 1.31
}
}
@media all and (max-width:889px) and (min-width:769px) {
#technology-wraper .terms-holder .term-item .num-terms-item .term-desc {
	font-size: 14px;
	line-height: 1.3;
	margin-top: 20px
}
}
@media all and (max-width:768px) and (min-width:659px) {
#technology-wraper .terms-holder .term-item .num-terms-item .term-desc {
	margin-top: 19px;
	font-size: 16px;
	width: 100%
}
}
@media all and (max-width:658px) and (min-width:481px) {
#technology-wraper .terms-holder .term-item .num-terms-item .term-desc {
	margin-top: 19px;
	font-size: 16px;
	width: 100%
}
}
@media all and (max-width:480px) {
#technology-wraper .terms-holder .term-item .num-terms-item .term-desc {
	font-size: 15px;
	margin-top: 28.5px;
	width: 100%
}
}
#technology-wraper .terms-holder .term-item .num-terms-item .term-more {
	display: block;
	font-family: Sailec-Medium, sans-serif;
	margin-top: 33px;
	margin-bottom: 59px;
	padding-left: 20px;
	cursor: pointer;
	-ms-flex-preferred-size: auto;
	flex-basis: auto;
	text-decoration: none
}
@media all and (min-width:1025px) and (max-width:1279px) {
#technology-wraper .terms-holder .term-item .num-terms-item .term-more {
	padding-left: 0
}
}
@media all and (min-width:769px) and (max-width:1024px) {
#technology-wraper .terms-holder .term-item .num-terms-item .term-more {
	padding-left: 0;
	margin-top: 23px;
	margin-bottom: 50px;
	margin-left: 0
}
}
@media all and (min-width:481px) and (max-width:768px) {
#technology-wraper .terms-holder .term-item .num-terms-item .term-more {
	margin-top: 18px;
	letter-spacing: -.1px;
	margin-bottom: 38px
}
}
@media all and (max-width:480px) {
#technology-wraper .terms-holder .term-item .num-terms-item .term-more {
	margin-top: 15px;
	font-size: 14px;
	padding-left: 0;
	letter-spacing: -.1px;
	margin-bottom: 20px
}
}
#technology-wraper .terms-holder .term-item .num-terms-item .term-more .term-more-title {
	font-size: 15px;
	color: #181820;
	letter-spacing: -.1px
}
@media all and (max-width:1439px) {
#technology-wraper .terms-holder .term-item .num-terms-item .term-more .term-more-title {
	font-size: 14px
}
}
@media all and (min-width:481px) and (max-width:768px) {
#technology-wraper .terms-holder .term-item .num-terms-item .term-more .term-more-title {
	font-size: 14px
}
}
#technology-wraper .terms-holder .term-item .num-terms-item .term-more .term-more-icon {
	display: inline-block;
	margin-bottom: -2px;
	color: #ed5c37;
	padding-left: 13px;
	padding-top: 3px;
	-webkit-transition: .1s ease-in;
	transition: .1s ease-in
}
#technology-wraper .terms-holder .term-item .num-terms-item .term-more:hover .term-more-title {
	color: #ed5c37
}
#technology-wraper .terms-holder .term-item .num-terms-item .term-more:hover .term-more-icon {
	padding-left: 18px
}
#technology-wraper .terms-holder .term-item .num-terms-item .term-more {
	padding-left: 0
}
@media all and (max-width:1279px) {
#technology-wraper .case-item:nth-of-type(3) {
	display: none!important
}
}
