body {
	overflow-x: hidden
}
#blog-list-wraper .H1 {
	font-family: Sailec-Medium;
	font-size: 30px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.2;
	letter-spacing: -.4px;
	color: #181820;
	margin-top: 75px;
	margin-bottom: 87px
}
@media all and (min-width:640px) {
#blog-list-wraper .H1 {
	font-size: 34px;
	line-height: 1.24;
	letter-spacing: -.8px
}
}
@media all and (min-width:1280px) {
#blog-list-wraper .H1 {
	font-size: 48px;
	line-height: 1.31;
	letter-spacing: -1px
}
}
@media all and (min-width:1025px) and (max-width:1279px) {
#blog-list-wraper .H1 {
	font-size: 48px;
	line-height: 1.31px;
	letter-spacing: -1px;
	margin-top: 134px;
	margin-bottom: 91px
}
}
@media all and (min-width:769px) and (max-width:1024px) {
#blog-list-wraper .H1 {
	font-size: 40px;
	line-height: 1.2;
	letter-spacing: -1px;
	margin-top: 100px;
	margin-bottom: 70px
}
}
@media all and (min-width:481px) and (max-width:768px) {
#blog-list-wraper .H1 {
	font-size: 32px;
	line-height: 1.24;
	letter-spacing: -.8px;
	margin-top: 81px;
	margin-bottom: 60.5px
}
}
@media all and (max-width:480px) {
#blog-list-wraper .H1 {
	font-size: 30px;
	line-height: 1.2;
	letter-spacing: -.4px;
	margin-top: 45px;
	margin-bottom: 50px
}
}
@media all and (min-width:1280px) {
#blog-list-wraper .H1 {
	margin-top: 130px;
	margin-bottom: 90px;
	font-size: 72px
}
}
#blog-list-wraper .row, #blog-list-wraper [class*=col-] {
	padding-left: 0;
	padding-right: 0
}
#blog-list-wraper .term-more {
	display: block;
	font-family: Sailec-Medium, sans-serif;
	margin-top: 33px;
	margin-bottom: 59px;
	padding-left: 20px;
	cursor: pointer;
	-ms-flex-preferred-size: auto;
	flex-basis: auto;
	text-decoration: none
}
@media all and (min-width:1025px) and (max-width:1279px) {
#blog-list-wraper .term-more {
	padding-left: 0
}
}
@media all and (min-width:769px) and (max-width:1024px) {
#blog-list-wraper .term-more {
	padding-left: 0;
	margin-top: 23px;
	margin-bottom: 50px;
	margin-left: 0
}
}
@media all and (min-width:481px) and (max-width:768px) {
#blog-list-wraper .term-more {
	margin-top: 18px;
	letter-spacing: -.1px;
	margin-bottom: 38px
}
}
@media all and (max-width:480px) {
#blog-list-wraper .term-more {
	margin-top: 15px;
	font-size: 14px;
	padding-left: 0;
	letter-spacing: -.1px;
	margin-bottom: 20px
}
}
#blog-list-wraper .term-more .term-more-title {
	font-size: 15px;
	color: #181820;
	letter-spacing: -.1px
}
@media all and (max-width:1439px) {
#blog-list-wraper .term-more .term-more-title {
	font-size: 14px
}
}
@media all and (min-width:481px) and (max-width:768px) {
#blog-list-wraper .term-more .term-more-title {
	font-size: 14px
}
}
#blog-list-wraper .term-more .term-more-icon {
	display: inline-block;
	margin-bottom: -2px;
	color: #ed5c37;
	padding-left: 13px;
	padding-top: 3px;
	-webkit-transition: .1s ease-in;
	transition: .1s ease-in
}
#blog-list-wraper .term-more:hover .term-more-title {
	color: #ed5c37
}
#blog-list-wraper .term-more:hover .term-more-icon {
	padding-left: 18px
}
#blog-list-wraper .term-more {
	display: inline-block;
	padding-left: 0;
	margin-bottom: 30px;
	margin-top: 0
}
@media all and (max-width:768px) {
#blog-list-wraper .term-more {
	display: none
}
}
#blog-list-wraper .blog-subscribe-form {
	width: 100%
}
@media all and (max-width:1024px) {
#blog-list-wraper .blog-subscribe-form {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column
}
}
#blog-list-wraper .blog-subscribe-form .wdform_footer {
	display: none
}
#blog-list-wraper .blog-subscribe-form .wdform-page-and-images {
	padding: 0!important
}
@media all and (max-width:480px) {
#blog-list-wraper .blog-subscribe-form .wdform_section {
	max-width: 100%!important
}
}
@media all and (max-width:520px) {
#blog-list-wraper .blog-subscribe-form .wdform_column {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column
}
}
#blog-list-wraper .blog-subscribe-form .form, #blog-list-wraper .blog-subscribe-form form {
	width: 100%
}
@media all and (max-width:768px) {
#blog-list-wraper .blog-subscribe-form .form .wdform-page-and-images .blog-subscribe-email, #blog-list-wraper .blog-subscribe-form form .wdform-page-and-images .blog-subscribe-email {
	width: 100%!important;
	max-width: 100%!important
}
}
#blog-list-wraper .blog-subscribe-form .btn-subscribe>button {
	cursor: pointer;
	color: #fff;
	background: #ed5c37;
	width: 130px;
	height: 43px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-decoration: none;
	position: relative;
	z-index: 1;
	overflow: hidden;
	-webkit-appearance: none;
	font-family: Sailec-Medium, sans-serif;
	border: none;
	margin-left: 20px;
	background: #181820!important;
	width: 100%!important;
	height: 43px!important
}
@media all and (min-width:1025px) and (max-width:1279px) {
#blog-list-wraper .blog-subscribe-form .btn-subscribe>button {
	width: 109.1px;
	height: 35.9px
}
}
@media all and (max-width:1024px) {
#blog-list-wraper .blog-subscribe-form .btn-subscribe>button {
	width: 109.1px;
	height: 35.9px
}
}
#blog-list-wraper .blog-subscribe-form .btn-subscribe>button:active {
	background-color: #212125!important
}
#blog-list-wraper .blog-subscribe-form .btn-subscribe>button * {
	color: #fff!important
}
#blog-list-wraper .blog-subscribe-form .btn-subscribe>button:before {
	content: "";
	width: 0;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	z-index: -1;
	-webkit-transition: width .3s ease, opacity .2s ease-in;
	transition: width .3s ease, opacity .2s ease-in;
	-webkit-box-shadow: 0 0 -10px 2px #181820;
	box-shadow: 0 0 -10px 2px #181820;
	background-color: #181820
}
#blog-list-wraper .blog-subscribe-form .btn-subscribe>button:hover:before {
	opacity: 1;
	width: 100%
}
#blog-list-wraper .blog-subscribe-form .btn-subscribe>button:before {
	-webkit-box-shadow: 0 0 -10px 2px #ed5c37!important;
	box-shadow: 0 0 -10px 2px #ed5c37!important;
	background-color: #ed5c37!important
}
#blog-list-wraper .blog-subscribe-form .btn-subscribe>button:active {
	-webkit-box-shadow: none;
	box-shadow: none
}
@media all and (min-width:769px) and (max-width:1024px) {
#blog-list-wraper .blog-subscribe-form .btn-subscribe>button {
	margin-left: 0
}
}
@media all and (max-width:768px) {
#blog-list-wraper .blog-subscribe-form .btn-subscribe>button {
	margin-right: 0!important;
	margin-left: 0!important
}
}
#blog-list-wraper .blog-subscribe-form .blog-subscribe-email {
	width: 100%!important
}
#blog-list-wraper .blog-subscribe-form .blog-subscribe-email>input {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: 20px;
	font-family: Sailec, sans-serif;
	border: none;
	height: 43px
}
@media all and (max-width:1024px) {
#blog-list-wraper .blog-subscribe-form .blog-subscribe-email>input {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px
}
}
@media all and (max-width:768px) {
#blog-list-wraper .blog-subscribe-form .blog-subscribe-email>input {
	margin-right: 0!important
}
}
#blog-list-wraper .blog-subscribe-form .blog-subscribe-email>input::-webkit-input-placeholder {
color:#606068;
font-size:11px
}
#blog-list-wraper .blog-subscribe-form .blog-subscribe-email>input:-ms-input-placeholder {
color:#606068;
font-size:11px
}
#blog-list-wraper .blog-subscribe-form .blog-subscribe-email>input::-ms-input-placeholder {
color:#606068;
font-size:11px
}
#blog-list-wraper .blog-subscribe-form .blog-subscribe-email>input::placeholder {
color:#606068;
font-size:11px
}
@media all and (max-width:768px) {
#blog-list-wraper .blog-subscribe-form {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}
}
#blog-list-wraper .blog-subscribe-form div[class*='-error'] {
	display: inline-block;
	width: 100%;
	text-align: left;
	margin-top: 10px;
	font-family: Sailec, sans-serif;
	font-size: 14px;
	line-height: 1.67;
	color: #e51f1f!important
}
@media all and (max-width:1024px) and (min-width:769px) {
#blog-list-wraper .blog-subscribe-form div[class*='-error'] {
	font-size: 13px;
	line-height: 1.4
}
}
@media all and (max-width:480px) {
#blog-list-wraper .blog-subscribe-form div[class*='-error'] {
	font-size: 12px;
	line-height: 1.5
}
}
#blog-list-wraper .blog-subscribe-form div[class*='-success'] {
	font-family: Sailec, sans-serif;
	font-size: 16px;
	line-height: 1.67;
	color: #595960;
	display: inline-block;
	width: 100%;
	text-align: center
}
@media all and (max-width:1024px) and (min-width:769px) {
#blog-list-wraper .blog-subscribe-form div[class*='-success'] {
	font-size: 16px;
	line-height: 1.4
}
}
@media all and (max-width:480px) {
#blog-list-wraper .blog-subscribe-form div[class*='-success'] {
	font-size: 14px;
	line-height: 1.5
}
}
#blog-list-wraper .blog-subscribe-wrap {
	background: #f8f8f9;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 30px 30px
}
@media all and (max-width:768px) {
#blog-list-wraper .blog-subscribe-wrap .mwd-subscribe-reset {
	width: 100%!important
}
}
@media all and (max-width:1024px) and (min-width:769px) {
#blog-list-wraper .blog-subscribe-wrap {
	padding: 20px
}
}
@media all and (min-width:481px) and (max-width:768px) {
#blog-list-wraper .blog-subscribe-wrap {
	margin-bottom: 20px;
	padding: 40px 35px
}
}
@media all and (max-width:480px) {
#blog-list-wraper .blog-subscribe-wrap {
	margin-bottom: 25px;
	padding: 35px 15px;
	width: 100%
}
}
#blog-list-wraper .blog-subscribe-wrap [wdid="1"] {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1
}
@media all and (min-width:521px) and (max-width:768px) {
#blog-list-wraper .blog-subscribe-wrap [wdid="1"] {
	margin-right: 25px
}
}
#blog-list-wraper .blog-subscribe-wrap .wdform-field, #blog-list-wraper .blog-subscribe-wrap .wdform-page-and-images, #blog-list-wraper .blog-subscribe-wrap .wdform_column, #blog-list-wraper .blog-subscribe-wrap .wdform_page, #blog-list-wraper .blog-subscribe-wrap .wdform_section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%!important;
	height: 100%
}
@media all and (min-width:769px) and (max-width:1024px) {
#blog-list-wraper .blog-subscribe-wrap .wdform-field, #blog-list-wraper .blog-subscribe-wrap .wdform-page-and-images, #blog-list-wraper .blog-subscribe-wrap .wdform_column, #blog-list-wraper .blog-subscribe-wrap .wdform_page, #blog-list-wraper .blog-subscribe-wrap .wdform_section {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column
}
}
#blog-list-wraper .blog-subscribe-wrap .wdform-field .wdform-element-section, #blog-list-wraper .blog-subscribe-wrap .wdform-page-and-images .wdform-element-section, #blog-list-wraper .blog-subscribe-wrap .wdform_column .wdform-element-section, #blog-list-wraper .blog-subscribe-wrap .wdform_page .wdform-element-section, #blog-list-wraper .blog-subscribe-wrap .wdform_section .wdform-element-section {
	width: 100%!important
}
#blog-list-wraper .blog-subscribe-wrap .wdform-field .wdform_row[wdid="3"], #blog-list-wraper .blog-subscribe-wrap .wdform-page-and-images .wdform_row[wdid="3"], #blog-list-wraper .blog-subscribe-wrap .wdform_column .wdform_row[wdid="3"], #blog-list-wraper .blog-subscribe-wrap .wdform_page .wdform_row[wdid="3"], #blog-list-wraper .blog-subscribe-wrap .wdform_section .wdform_row[wdid="3"] {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1
}
#blog-list-wraper .blog-subscribe-wrap .wdform-field .wdform_row[wdid="3"] [type=type_submitter_mail], #blog-list-wraper .blog-subscribe-wrap .wdform-page-and-images .wdform_row[wdid="3"] [type=type_submitter_mail], #blog-list-wraper .blog-subscribe-wrap .wdform_column .wdform_row[wdid="3"] [type=type_submitter_mail], #blog-list-wraper .blog-subscribe-wrap .wdform_page .wdform_row[wdid="3"] [type=type_submitter_mail], #blog-list-wraper .blog-subscribe-wrap .wdform_section .wdform_row[wdid="3"] [type=type_submitter_mail] {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	width: 100%!important
}
#blog-list-wraper .blog-subscribe-wrap .wdform-field .wdform_row[wdid="3"] [type=type_submitter_mail] .wdform-element-section, #blog-list-wraper .blog-subscribe-wrap .wdform-page-and-images .wdform_row[wdid="3"] [type=type_submitter_mail] .wdform-element-section, #blog-list-wraper .blog-subscribe-wrap .wdform_column .wdform_row[wdid="3"] [type=type_submitter_mail] .wdform-element-section, #blog-list-wraper .blog-subscribe-wrap .wdform_page .wdform_row[wdid="3"] [type=type_submitter_mail] .wdform-element-section, #blog-list-wraper .blog-subscribe-wrap .wdform_section .wdform_row[wdid="3"] [type=type_submitter_mail] .wdform-element-section {
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-right: 30px
}
@media all and (max-width:768px) {
#blog-list-wraper .blog-subscribe-wrap .wdform-field .btn-subscribe, #blog-list-wraper .blog-subscribe-wrap .wdform-page-and-images .btn-subscribe, #blog-list-wraper .blog-subscribe-wrap .wdform_column .btn-subscribe, #blog-list-wraper .blog-subscribe-wrap .wdform_page .btn-subscribe, #blog-list-wraper .blog-subscribe-wrap .wdform_section .btn-subscribe {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 100%;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}
}
#blog-list-wraper .blog-subscribe-wrap .blog-subscribe-text .blog-subscribe-title {
	font-family: Sailec-Medium, sans-serif;
	font-size: 34px;
	line-height: 1.24;
	letter-spacing: -.8px;
	color: #181820;
	display: inline-block;
	width: 90%;
	margin-left: 5%;
	text-align: center;
	margin-bottom: 20px
}
@media all and (min-width:1025px) and (max-width:1279px) {
#blog-list-wraper .blog-subscribe-wrap .blog-subscribe-text .blog-subscribe-title {
	width: 100%;
	margin-left: 0;
	font-size: 30px
}
}
@media all and (min-width:769px) and (max-width:1024px) {
#blog-list-wraper .blog-subscribe-wrap .blog-subscribe-text .blog-subscribe-title {
	width: 100%;
	margin-left: 0;
	font-size: 28px
}
}
@media all and (max-width:889px) and (min-width:769px) {
#blog-list-wraper .blog-subscribe-wrap .blog-subscribe-text .blog-subscribe-title {
	width: 100%;
	margin-left: 0;
	font-size: 26px
}
}
@media all and (min-width:481px) and (max-width:768px) {
#blog-list-wraper .blog-subscribe-wrap .blog-subscribe-text .blog-subscribe-title {
	width: 100%;
	margin-left: 0
}
}
@media all and (max-width:480px) {
#blog-list-wraper .blog-subscribe-wrap .blog-subscribe-text .blog-subscribe-title {
	width: 100%;
	margin-left: 0;
	font-size: 26px;
	line-height: 1.08;
	letter-spacing: -.3px;
	margin-bottom: 10px
}
}
#blog-list-wraper .blog-subscribe-wrap .blog-subscribe-text .blog-subscribe-desc {
	font-family: Sailec, sans-serif;
	font-size: 18px;
	line-height: 1.67;
	color: #595960;
	display: block;
	width: 100%;
	text-align: center;
	margin-bottom: 51px
}
@media all and (max-width:889px) and (min-width:769px) {
#blog-list-wraper .blog-subscribe-wrap .blog-subscribe-text .blog-subscribe-desc {
	font-size: 16px;
	line-height: 1.4;
	margin-bottom: 30px
}
}
@media all and (max-width:480px) {
#blog-list-wraper .blog-subscribe-wrap .blog-subscribe-text .blog-subscribe-desc {
	margin-bottom: 40px;
	font-size: 14px;
	line-height: 1.5
}
}
#blog-list-wraper .full-blog-subscribe {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	margin-bottom: 50px
}
#blog-list-wraper .full-blog-subscribe .blog-subscribe-text .blog-subscribe-title {
	text-align: left;
	margin-left: 0
}
#blog-list-wraper .full-blog-subscribe .blog-subscribe-text .blog-subscribe-desc {
	text-align: left;
	margin-bottom: 0
}
#blog-list-wraper .tag-wrap {
	width: 100%
}
@media all and (max-width:889px) and (min-width:769px) {
#blog-list-wraper .tag-wrap {
	width: 100%
}
}
@media all and (max-width:768px) {
#blog-list-wraper .tag-wrap {
	margin-top: 10px
}
}
#blog-list-wraper .tag-wrap .tag-item {
	display: inline-block;
	color: #ababb0;
	font-family: Sailec-Medium, sans-serif;
	cursor: pointer;
	font-size: 9px;
	letter-spacing: 1.4px;
	margin-right: 10px;
	text-transform: uppercase
}
#blog-list-wraper .tag-wrap .tag-item:link {
	text-decoration: none;
	color: #ed5c37
}
#blog-list-wraper .tag-wrap .top-tag {
	white-space: nowrap;
	color: #ed5c37!important
}
#blog-list-wraper .blog-user {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 0 30px 0
}
@media all and (max-width:480px) {
#blog-list-wraper .blog-user {
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 2;
	order: 2;
	margin: 0
}
}
#blog-list-wraper .blog-user .blog-icon {
	width: 50px;
	height: 50px;
	margin-right: 15px;
	border-radius: 50%
}
#blog-list-wraper .blog-user .blog-user-name {
	display: block;
	font-family: Sailec, sans-serif;
	font-size: 16px;
	line-height: 1.13;
	letter-spacing: -.3px;
	color: #111
}
#blog-list-wraper .blog-user .blog-user-desc {
	font-family: Sailec, sans-serif;
	font-size: 12px;
	line-height: 1.5;
	letter-spacing: -.2px;
	color: #fff;
	opacity: .5;
	margin-top: 5px
}
#blog-list-wraper #top-blog-holder {
	-ms-flex-pack: distribute;
	justify-content: space-around;
	margin-top: 1%
}
#blog-list-wraper #top-blog-holder .cover-story-wrap a {
	text-decoration: none;
	color: inherit
}
#blog-list-wraper #top-blog-holder .cover-story-wrap .main-cover-story-wrap {
	overflow: hidden;
	background: #000 no-repeat;
	background-size: auto 110%;
	-webkit-transition: .5s;
	transition: .5s;
	position: relative;
	margin-bottom: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}
@media all and (min-width:769px) {
#blog-list-wraper #top-blog-holder .cover-story-wrap .main-cover-story-wrap {
	height: 60vh!important
}
}
#blog-list-wraper #top-blog-holder .cover-story-wrap .main-cover-story-wrap:hover .cover-image {
	opacity: .5
}
#blog-list-wraper #top-blog-holder .cover-story-wrap .main-cover-story-wrap .cover-image {
	position: absolute;
	-webkit-transition: .2s;
	transition: .2s;
	min-width: 100%;
	min-height: 100%;
	opacity: .8
}
@media all and (max-width:480px) {
#blog-list-wraper #top-blog-holder .cover-story-wrap .main-cover-story-wrap {
	margin-bottom: 25px
}
}
#blog-list-wraper #top-blog-holder .cover-story-wrap .main-cover-story-wrap .term-more .term-more-title {
	color: #fff
}
@media all and (max-width:480px) {
#blog-list-wraper #top-blog-holder .cover-story-wrap .main-cover-story-wrap .term-more .term-more-title {
	color: #000
}
}
#blog-list-wraper #top-blog-holder .cover-story-wrap .main-cover-story-wrap .main-cover-story {
	padding: 40px;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	z-index: 2
}
#blog-list-wraper #top-blog-holder .cover-story-wrap .main-cover-story-wrap .main-cover-story .cover-story {
	margin-top: 10px
}
#blog-list-wraper #top-blog-holder .cover-story-wrap .main-cover-story-wrap .main-cover-story .title-container {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}
@media all and (min-width:1025px) and (max-width:1279px) {
#blog-list-wraper #top-blog-holder .cover-story-wrap .main-cover-story-wrap .main-cover-story {
	bottom: 50px;
	left: 50px
}
}
@media all and (max-width:1024px) and (min-width:769px) {
#blog-list-wraper #top-blog-holder .cover-story-wrap .main-cover-story-wrap .main-cover-story {
	bottom: 30px;
	left: 30px
}
}
@media all and (min-width:481px) and (max-width:768px) {
#blog-list-wraper #top-blog-holder .cover-story-wrap .main-cover-story-wrap .main-cover-story {
	padding: 40px 20px;
	bottom: 40px;
	left: 40px
}
}
@media all and (max-width:480px) {
#blog-list-wraper #top-blog-holder .cover-story-wrap .main-cover-story-wrap .main-cover-story {
	padding: 40px 20px;
	top: 345px;
	left: 0;
	display: block
}
}
#blog-list-wraper #top-blog-holder .cover-story-wrap .main-cover-story-wrap .main-cover-story .blog-user .blog-user-name {
	color: #fff
}
@media all and (max-width:480px) {
#blog-list-wraper #top-blog-holder .cover-story-wrap .main-cover-story-wrap .main-cover-story .blog-user .blog-user-name {
	color: #fff
}
}
@media all and (max-width:480px) {
#blog-list-wraper #top-blog-holder .cover-story-wrap .main-cover-story-wrap .main-cover-story .blog-user .blog-user-desc {
	color: #fff
}
}
#blog-list-wraper #top-blog-holder .cover-story-wrap .main-cover-story-wrap .main-cover-story .cover-story-title {
	font-size: 45px;
	font-family: Sailec, sans-serif;
	line-height: 1.31;
	letter-spacing: -1px;
	display: inline-block;
	color: #fff;
	margin-bottom: 18px;
	margin-top: 15px
}
@media all and (min-width:1025px) and (max-width:1279px) {
#blog-list-wraper #top-blog-holder .cover-story-wrap .main-cover-story-wrap .main-cover-story .cover-story-title {
	font-size: 38px
}
}
@media all and (max-width:1024px) and (min-width:769px) {
#blog-list-wraper #top-blog-holder .cover-story-wrap .main-cover-story-wrap .main-cover-story .cover-story-title {
	font-size: 30px;
	line-height: 1.3
}
}
@media all and (max-width:768px) and (min-width:481px) {
#blog-list-wraper #top-blog-holder .cover-story-wrap .main-cover-story-wrap .main-cover-story .cover-story-title {
	font-size: 28px
}
}
@media all and (max-width:480px) {
#blog-list-wraper #top-blog-holder .cover-story-wrap .main-cover-story-wrap .main-cover-story .cover-story-title {
	font-size: 26px;
	line-height: 1.08;
	letter-spacing: -.3px;
	width: 100%;
	color: #fff
}
}
#blog-list-wraper #top-blog-holder .cover-story-wrap .main-cover-story-wrap .main-cover-story .cover-story-desc {
	font-size: 18px;
	font-family: Sailec, sans-serif;
	line-height: 1.67;
	display: inline-block;
	opacity: .75;
	color: #fff;
	max-height: 85px;
	overflow: hidden;
	background: #fff;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent
}
@media all and (min-width:1280px) {
#blog-list-wraper #top-blog-holder .cover-story-wrap .main-cover-story-wrap .main-cover-story .cover-story-desc {
	margin-bottom: 5%;
	max-height: 120px
}
}
@media all and (max-width:1279px) {
#blog-list-wraper #top-blog-holder .cover-story-wrap .main-cover-story-wrap .main-cover-story .cover-story-desc {
	margin-bottom: 5%;
	max-height: 115px
}
}
@media all and (max-width:1024px) {
#blog-list-wraper #top-blog-holder .cover-story-wrap .main-cover-story-wrap .main-cover-story .cover-story-desc {
	margin-bottom: 15%;
	margin-top: 7%;
	max-height: 145px
}
}
@media all and (max-width:786px) {
#blog-list-wraper #top-blog-holder .cover-story-wrap .main-cover-story-wrap .main-cover-story .cover-story-desc {
	margin-bottom: 5%;
	margin-top: 2%;
	max-height: 120px
}
}
@media all and (max-width:480px) {
#blog-list-wraper #top-blog-holder .cover-story-wrap .main-cover-story-wrap .main-cover-story .cover-story-desc {
	margin-bottom: 7%;
	margin-top: 3%;
	max-height: 100px;
	font-size: 16px;
	line-height: 1.5;
	color: #595960
}
}
#blog-list-wraper #top-blog-holder .top-stories-wrap .tag-wrap {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}
@media all and (max-width:480px) {
#blog-list-wraper #top-blog-holder .top-stories-wrap .tag-wrap {
	white-space: normal
}
}
#blog-list-wraper #top-blog-holder .top-stories-wrap a {
	text-decoration: none;
	display: block;
	color: inherit;
	margin: 0 40px 0 -40px;
	-webkit-transition: .5s;
	transition: .5s
}
@media all and (max-width:768px) {
#blog-list-wraper #top-blog-holder .top-stories-wrap a {
	margin: 0
}
}
@media all and (min-width:769px) {
#blog-list-wraper #top-blog-holder .top-stories-wrap a:hover {
	background-color: #f7f7f7;
	margin: 0
}
#blog-list-wraper #top-blog-holder .top-stories-wrap a:hover+hr {
	background-color: transparent
}
}
#blog-list-wraper #top-blog-holder .top-stories-wrap hr {
	-webkit-transition: .5s;
	transition: .5s;
	background-color: #eae9e9;
	border: none;
	height: 1px;
	margin: auto;
	width: calc(100% - 40px - 25px)
}
#blog-list-wraper #top-blog-holder .top-stories-wrap .story-item {
	-webkit-transition: .5s;
	transition: .5s;
	padding: 20px 40px 20px 40px;
	margin-bottom: 10px
}
@media all and (max-width:768px) {
#blog-list-wraper #top-blog-holder .top-stories-wrap .story-item {
	padding: 0 0 50px 0
}
}
@media all and (max-width:768px) {
#blog-list-wraper #top-blog-holder .top-stories-wrap .story-item .tag-wrap {
	margin-top: 10px
}
}
#blog-list-wraper #top-blog-holder .top-stories-wrap .story-item .story-num-title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row
}
#blog-list-wraper #top-blog-holder .top-stories-wrap .story-item .story-num-title .story-num {
	display: none;
	padding-right: 10px;
	font-family: publicasans, sans-serif;
	margin-top: -3px;
	font-weight: 500;
	font-size: 26px;
	text-align: right;
	color: #ed5c37
}
@media all and (min-width:1025px) and (max-width:1279px) {
#blog-list-wraper #top-blog-holder .top-stories-wrap .story-item .story-num-title .story-num {
	padding-right: 10px;
	margin-left: -16.666%
}
}
@media all and (min-width:769px) and (max-width:1024px) {
#blog-list-wraper #top-blog-holder .top-stories-wrap .story-item .story-num-title .story-num {
	padding-right: 10px;
	margin-left: -16.666%
}
}
@media all and (min-width:769px) and (max-width:889px) {
#blog-list-wraper #top-blog-holder .top-stories-wrap .story-item .story-num-title .story-num {
	font-size: 24px
}
}
@media all and (max-width:768px) {
#blog-list-wraper #top-blog-holder .top-stories-wrap .story-item .story-num-title .story-num {
	margin-left: 0;
	padding-right: 15px;
	width: 8.3%
}
}
@media all and (max-width:480px) {
#blog-list-wraper #top-blog-holder .top-stories-wrap .story-item .story-num-title .story-num {
	font-size: 18px;
	margin-top: 0
}
}
#blog-list-wraper #top-blog-holder .top-stories-wrap .story-item .story-num-title .story-title {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
	font-family: Sailec, sans-serif;
	font-size: 24px;
	line-height: 1.42;
	letter-spacing: -.4px;
	color: #181820
}
#blog-list-wraper #top-blog-holder .top-stories-wrap .story-item .story-num-title .story-title:link {
	color: #000;
	text-decoration: none
}
@media all and (max-width:889px) and (min-width:769px) {
#blog-list-wraper #top-blog-holder .top-stories-wrap .story-item .story-num-title .story-title {
	font-size: 22px;
	line-height: 1.2
}
}
@media all and (max-width:768px) {
#blog-list-wraper #top-blog-holder .top-stories-wrap .story-item .story-num-title .story-title {
	font-size: 20PX;
	line-height: 1.55;
	letter-spacing: -.2px
}
}
#blog-list-wraper #top-blog-holder .top-stories-wrap .story-item .story-desc {
	font-family: Sailec, sans-serif;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 14px;
	color: #595960
}
@media all and (max-width:889px) and (min-width:769px) {
#blog-list-wraper #top-blog-holder .top-stories-wrap .story-item .story-desc {
	margin-bottom: 15px
}
}
@media all and (max-width:768px) {
#blog-list-wraper #top-blog-holder .top-stories-wrap .story-item .story-desc {
	font-size: 16px
}
}
#blog-list-wraper #top-blog-holder .top-stories-wrap .story-item .info-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}
#blog-list-wraper #top-blog-holder .top-stories-wrap .story-item .info-block .story-icon {
	width: 50px;
	height: 50px;
	margin-right: 15px;
	border-radius: 50%
}
#blog-list-wraper #top-blog-holder .top-stories-wrap .story-item .info-block .story-author {
	font-family: Sailec-Medium, sans-serif;
	line-height: 1.15;
	letter-spacing: -.3px;
	color: #353535;
	font-size: 16px;
	margin-bottom: 3px
}
#blog-list-wraper #top-blog-holder .top-stories-wrap .story-item .info-block .story-date {
	font-family: Sailec, sans-serif;
	font-size: 12px;
	line-height: 1.5;
	letter-spacing: -.2px;
	color: #707078;
	display: block
}
#blog-list-wraper #blog-list-holder {
	margin-top: 100px
}
@media all and (max-width:768px) {
#blog-list-wraper #blog-list-holder {
	margin-top: 0
}
}
@media all and (min-width:769px) {
#blog-list-wraper #blog-list-holder .all-stories-title {
	display: none
}
}
@media all and (max-width:768px) {
#blog-list-wraper #blog-list-holder .blog-search {
	display: none!important
}
}
#blog-list-wraper #blog-list-holder .current-cat a {
	color: #ed5c37!important
}
#blog-list-wraper #blog-list-holder .blog-search {
	margin: 0 auto 50px;
	width: 55%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}
#blog-list-wraper #blog-list-holder .blog-search li {
	list-style: none
}
#blog-list-wraper #blog-list-holder .blog-search .tag-search, #blog-list-wraper #blog-list-holder .blog-search a {
	font-family: Sailec, sans-serif;
	font-size: 24px;
	line-height: 1.58;
	letter-spacing: -.4px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #000;
	text-decoration: none
}
#blog-list-wraper #blog-list-holder .blog-search .tag-search:link, #blog-list-wraper #blog-list-holder .blog-search a:link {
	text-decoration: none;
	color: #000
}
@media all and (min-width:1025px) and (max-width:1279px) {
#blog-list-wraper #blog-list-holder .blog-search .tag-search, #blog-list-wraper #blog-list-holder .blog-search a {
	font-size: 20px;
	line-height: 1.55;
	letter-spacing: -.2px
}
}
@media all and (max-width:1024px) and (min-width:890px) {
#blog-list-wraper #blog-list-holder .blog-search .tag-search, #blog-list-wraper #blog-list-holder .blog-search a {
	font-size: 20px;
	line-height: 1.55;
	letter-spacing: -.2px
}
}
@media all and (max-width:889px) and (min-width:769px) {
#blog-list-wraper #blog-list-holder .blog-search .tag-search, #blog-list-wraper #blog-list-holder .blog-search a {
	font-size: 19px;
	line-height: 1.2;
	letter-spacing: -.2px
}
}
#blog-list-wraper #blog-list-holder .blog-search .tag-search:hover, #blog-list-wraper #blog-list-holder .blog-search a:hover {
	color: #ed5c37
}
#blog-list-wraper #blog-list-holder .blog-search img {
	width: 25px;
	height: 25px;
	margin-left: 16.666%
}
@media all and (max-width:889px) and (min-width:769px) {
#blog-list-wraper #blog-list-holder .blog-search img {
	margin-left: 12%
}
}
#blog-list-wraper #blog-list-holder .blog-list-wrap {
	margin-bottom: 50px
}
#blog-list-wraper #blog-list-holder .blog-list-wrap .ajax-load-more-wrap {
	width: 55%;
	margin: 0 auto
}
@media all and (max-width:1024px) {
#blog-list-wraper #blog-list-holder .blog-list-wrap .ajax-load-more-wrap {
	width: 80%
}
}
@media all and (max-width:768px) {
#blog-list-wraper #blog-list-holder .blog-list-wrap .ajax-load-more-wrap {
	width: 100%
}
}
#blog-list-wraper #blog-list-holder .blog-list-wrap .blog-user .blog-user-desc {
	color: #606068
}
#blog-list-wraper #blog-list-holder .blog-list-wrap .blog-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	border-bottom: 1px solid #d8d8d8;
	margin-bottom: 35px
}
#blog-list-wraper #blog-list-holder .blog-list-wrap .blog-item:last-child {
	border-bottom: 0
}
#blog-list-wraper #blog-list-holder .blog-list-wrap .blog-item .blog-item-title {
	display: inline-block;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 10px
}
@media all and (max-width:889px) and (min-width:769px) {
#blog-list-wraper #blog-list-holder .blog-list-wrap .blog-item .blog-item-title {
	width: 100%
}
}
#blog-list-wraper #blog-list-holder .blog-list-wrap .blog-item .blog-item-title a {
	color: #000;
	font-size: 24px;
	font-family: Sailec, sans-serif;
	letter-spacing: -.4px;
	line-height: 1.27;
	margin-bottom: 10px;
	text-decoration: none
}
@media all and (max-width:889px) and (min-width:769px) {
#blog-list-wraper #blog-list-holder .blog-list-wrap .blog-item .blog-item-title a {
	font-size: 28px
}
}
#blog-list-wraper #blog-list-holder .blog-list-wrap .blog-item .blog-item-title a:link {
	text-decoration: none;
	color: #000
}
#blog-list-wraper #blog-list-holder .blog-list-wrap .blog-item .blog-item-quote {
	display: inline-block;
	font-size: 15px;
	font-family: Sailec, sans-serif;
	line-height: 2;
	margin-bottom: 25px;
	color: #606068;
	position: relative;
	margin-left: 18px
}
#blog-list-wraper #blog-list-holder .blog-list-wrap .blog-item .blog-item-quote:before {
	content: '\201C';
	color: #ed5c37;
	font-size: 40px;
	position: absolute;
	left: -18px;
	line-height: 15px;
	top: 18px
}
#blog-list-wraper #blog-list-holder .blog-list-wrap .blog-item .blog-item-quote:after {
	content: '\201D';
	color: #ed5c37;
	font-size: 40px;
	position: absolute;
	right: -18px;
	line-height: 15px;
	top: 18px
}
#blog-list-wraper #blog-list-holder .blog-list-wrap .blog-item .blog-item-desc {
	font-size: 16px;
	line-height: 1.56;
	font-family: Sailec, sans-serif;
	color: #595960;
	margin-bottom: 35px;
	display: inline-block;
	width: 100%
}
@media all and (max-width:768px) {
#blog-list-wraper #blog-list-holder .blog-list-wrap .blog-item .blog-item-desc {
	margin-bottom: 0
}
}
#blog-list-wraper #blog-list-holder .blog-list-wrap .blog-item .blog-item-desc a {
	font-size: 18px;
	line-height: 1.56;
	font-family: Sailec, sans-serif;
	color: #595960
}
@media all and (max-width:889px) and (min-width:769px) {
#blog-list-wraper #blog-list-holder .blog-list-wrap .blog-item .blog-item-desc {
	width: 100%;
	font-size: 16px
}
}
#blog-list-wraper .blog-info-title {
	font-family: Sailec-Bold;
	font-size: 12px;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 1.7px;
	color: #181820;
	font-family: Sailec, sans-serif;
	padding-top: 14px;
	border-top: 2px solid #171820;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px
}
@media all and (min-width:640px) {
#blog-list-wraper .blog-info-title {
	line-height: 1.67
}
}
@media all and (min-width:1280px) {
#blog-list-wraper .blog-info-title {
	line-height: 1.75
}
}
@media all and (min-width:1400px) {
#blog-list-wraper .blog-info-title {
	font-size: 13px;
	letter-spacing: 1.9px
}
}
