.about-nums-holder .about-nums-item {
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}
.about-nums-holder .about-nums-item .about-num {
	font-family: Sailec-Bold,sans-serif;
	font-size: 70px;
	font-weight: 700;
	letter-spacing: -1.7px;
	color: #ed5c37;
	display: inline-block
}
.about-nums-holder .about-nums-item .about-num-title {
	font-size: 16px;
	font-family: Sailec-Medium;
	font-weight: 500;
	line-height: 1.75;
	color: #181820;
	display: inline-block;
	padding-left: 22px
}
@media all and (min-width:769px) {
.about-nums-holder .about-nums-item .about-num-title {
	font-size: 18px;
	line-height: 1.56
}
}
.about-nums-holder--mini .about-nums-item {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	margin-bottom: 27px
}
@media all and (min-width:640px) {
.about-nums-holder--mini .about-nums-item {
	margin-bottom: 19px
}
}
@media all and (min-width:1440px) {
.about-nums-holder--mini .about-nums-item {
	margin-bottom: 29px
}
}
.about-nums-holder--mini .about-nums-item .about-num {
	font-family: Sailec-Bold,sans-serif;
	font-size: 32px;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: -.8px;
	color: #ed5c37
}
@media all and (min-width:1025px) {
.about-nums-holder--mini .about-nums-item .about-num {
	font-size: 48px;
	letter-spacing: -1.2px
}
}
.about-nums-holder--mini .about-nums-item .about-num-title {
	font-family: Sailec-Medium;
	font-size: 12px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.25;
	color: #181820;
	padding-left: 8px
}
@media all and (min-width:1025px) {
.about-nums-holder--mini .about-nums-item .about-num-title {
	font-size: 16px;
	line-height: 1.31
}
}
.about-nums-holder--mini .about-nums-item .about-num-title .about-num-title--grey {
	font-family: Sailec,sans-serif;
	font-size: 12px;
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.25;
	color: #606068
}
@media all and (min-width:1025px) {
.about-nums-holder--mini .about-nums-item .about-num-title .about-num-title--grey {
	font-size: 15px;
	line-height: 1.73
}
}
.image-slider {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex; 
}
.image-slider .slider-button {
	background: no-repeat center;
	width: 7vw;
	max-width: 30px;
	filter: invert(20%);
	-webkit-filter: invert(20%);
	cursor: pointer;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	-webkit-box-flex: 1!important;
	-ms-flex: auto!important;
	flex: auto!important
}
@media all and (min-width:800px) {
.image-slider .slider-button:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
	filter: invert(90%);
	-webkit-filter: invert(90%)
}
}
.image-slider .prev-image {
	background-image: url(../images/arrow-left.svg)
}
.image-slider .next-image {
	background-image: url(../images//arrow-right.svg)
}
.image-slider .images-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%
}
.image-slider .images-block .images-container {
	position: relative;
	height: 50vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}
@media all and (min-width:480px) {
.image-slider .images-block .images-container {
	height: 35vw
}
}
.image-slider .images-block .image-pointers {
	display: none;
	margin-top: 24px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}
@media all and (min-width:480px) {
.image-slider .images-block .image-pointers {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}
}
.image-slider .images-block .image-pointers .image-point {
	cursor: pointer;
	background-color: #c3c3c3;
	width: 2vw;
	height: 2vw;
	max-width: 8px;
	max-height: 8px;
	margin-right: 1vw;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	border-radius: 50%
}
@media all and (min-width:800px) {
.image-slider .images-block .image-pointers .image-point:hover:not(.active) {
	-webkit-transform: scale(1.3);
	transform: scale(1.3)
}
}
.image-slider .images-block .image-pointers .image-point.active {
	cursor: default;
	background-color: #ed5c37
}
.image-slider .images-block img {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
	width: auto!important;
	opacity: 0;
	-webkit-transition: opacity .2s ease-in;
	transition: opacity .2s ease-in
}
.image-slider .images-block img.active {
	opacity: 1
}
.case-item {
	background-size: cover;
	background-position: 50%;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	position: relative;
	overflow: hidden;
	cursor: pointer
}
@media all and (min-width:1024px) and (max-width:1239px) {
.case-item {
	height: 360px
}
}
@media all and (min-width:1240px) and (max-width:1439px) {
.case-item {
	height: 439px
}
}
@media all and (min-width:1440px) {
.case-item {
	height: 500px
}
}
@media all and (max-width:1024px) and (min-width:769px) {
.case-item {
	height: 330px
}
}
@media all and (max-width:768px) and (min-width:659px) {
.case-item {
	height: 306px
}
}
@media all and (max-width:658px) and (min-width:481px) {
.case-item {
	height: 280px
}
}
@media all and (max-width:480px) {
.case-item {
	height: 314px
}
}
@media all and (max-width:480px) {
.case-item {
	margin-bottom: 1.3px
}
}
.case-item:after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.7);
	opacity: 0;
	-webkit-transition: all .2s;
	transition: all .2s;
	z-index: 3
}
.case-item .case-img {
	background-size: cover;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2
}
.case-item .case-desc {
	top: 43.1px;
	left: 50px;
	z-index: 10;
	position: absolute;
	height: calc(100% - 43.1px);
	width: 70%
}
@media all and (min-width:1025px) and (max-width:1279px) {
.case-item .case-desc {
	top: 33.1px;
	left: 31px;
	width: calc(100% - 62px)
}
}
@media all and (max-width:1024px) and (min-width:769px) {
.case-item .case-desc {
	top: 15px;
	left: 15px;
	width: calc(100% - 30px)
}
}
@media all and (max-width:768px) and (min-width:659px) {
.case-item .case-desc {
	top: 33.1px;
	left: 32.9px;
	width: calc(100% - 65.6px)
}
}
@media all and (max-width:658px) and (min-width:481px) {
.case-item .case-desc {
	top: 23.1px;
	left: 22.9px;
	width: calc(100% - 45.6px)
}
}
@media all and (max-width:480px) {
.case-item .case-desc {
	top: 30.7px;
	left: 21px;
	width: calc(100% - 42px)
}
}
.case-item .case-desc .case-type {
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
	color: #fff;
	opacity: .6;
	letter-spacing: 1.8px;
	z-index: 11
}
@media all and (max-width:1024px) and (min-width:769px) {
.case-item .case-desc .case-type {
	font-size: 10px
}
}
@media all and (max-width:768px) and (min-width:659px) {
.case-item .case-desc .case-type {
	font-size: 12px;
	letter-spacing: 1.8px
}
}
@media all and (max-width:658px) and (min-width:481px) {
.case-item .case-desc .case-type {
	font-size: 12px;
	letter-spacing: 1.2px
}
}
@media all and (max-width:480px) {
.case-item .case-desc .case-type {
	font-size: 11px;
	letter-spacing: 1.6px
}
}
.case-item .case-desc .case-title {
	margin-top: 6px;
	line-height: 1.36;
	letter-spacing: -.2px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	font-size: 24px;
	color: #fff
}
@media all and (min-width:1025px) and (max-width:1279px) {
.case-item .case-desc .case-title {
	line-height: 1.4;
	font-size: 20px
}
}
@media all and (max-width:1024px) and (min-width:769px) {
.case-item .case-desc .case-title {
	font-size: 20px;
	line-height: 1.3
}
}
@media all and (max-width:768px) and (min-width:659px) {
.case-item .case-desc .case-title {
	font-size: 20px;
	line-height: 1.4;
	letter-spacing: -.1px
}
}
@media all and (max-width:658px) and (min-width:481px) {
.case-item .case-desc .case-title {
	font-size: 18px;
	line-height: 1.4;
	letter-spacing: -.1px
}
}
@media all and (max-width:480px) {
.case-item .case-desc .case-title {
	font-size: 18px;
	line-height: 1.56;
	letter-spacing: -.1px;
	margin-top: 12.9px
}
}
.case-item .case-desc .case-detail {
	font-family: Sailec,sans-serif;
	visibility: hidden;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
	position: absolute;
	bottom: 107px;
	left: -5px;
	font-size: 17px;
	line-height: 1.45;
	opacity: .6;
	color: #fff;
	width: 100%
}
@media all and (min-width:1025px) and (max-width:1279px) {
.case-item .case-desc .case-detail {
	font-size: 16px;
	line-height: 1.4;
	bottom: 87px
}
}
@media all and (max-width:1024px) and (min-width:769px) {
.case-item .case-desc .case-detail {
	font-size: 16px;
	line-height: 1.4;
	bottom: 50px
}
}
.case-item .case-desc .case-tech {
	font-family: Sailec-Bold,sans-serif;
	white-space: nowrap;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
	visibility: hidden;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
	position: absolute;
	bottom: 51.7px;
	left: -5px;
	font-size: 10px;
	letter-spacing: 1px;
	/*color: #ed5c37*/
	color: #fff;
}
@media all and (min-width:1025px) and (max-width:1279px) {
.case-item .case-desc .case-tech {
	bottom: 30px
}
}
@media all and (max-width:1024px) and (min-width:890px) {
.case-item .case-desc .case-tech {
	bottom: 10px
}
}
@media all and (max-width:889px) and (min-width:769px) {
.case-item .case-desc .case-tech {
	bottom: 10px;
	font-size: 8px
}
}
@media all and (max-width:480px) {
.case-item .case-desc .case-tech {
	visibility: visible;
	color: #fff;
	bottom: 30px
}
}
.case-item .case-desc .case-tech span {
	display: inline;
	margin-right: 11px;
	margin-top: 5px; text-transform:uppercase;
}
@media all and (min-width:1025px) and (max-width:1279px) {
.case-item .case-desc .case-tech span {
	margin-right: 5px
}
}
@media all and (max-width:1024px) and (min-width:769px) {
.case-item .case-desc .case-tech span {
	margin-right: 1px
}
}
@media all and (max-width:1024px) and (min-width:769px) {
.case-item .case-desc .desc-long-text {
	font-size: 14px
}
}
.case-item:hover:after {
	opacity: 1
}
.case-item:hover .case-img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1)
}
@media all and (min-width:769px) {
.case-item:hover .case-detail {
	visibility: visible;
	left: 0
}
}
@media all and (min-width:769px) {
.case-item:hover .case-tech {
	visibility: visible;
	left: 0
}
}
@-webkit-keyframes drop-down {
0% {
max-height:0
}
100% {
max-height:1000px
}
}
@keyframes drop-down {
0% {
max-height:0
}
100% {
max-height:1000px
}
}
@-webkit-keyframes pull-up {
0% {
max-height:1000px
}
100% {
max-height:0
}
}
@keyframes pull-up {
0% {
max-height:1000px
}
100% {
max-height:0
}
}
@media all and (max-width:480px) {
#response-holder, .response-holder {
	width: 100%;
	margin-left: 0;
	margin-right: 0
}
}
#response-holder .response-item, .response-holder .response-item {
	padding-bottom: 20px;
	padding-top: 40px;
	margin-top: 80px;
	height: auto;
	cursor: pointer
}
#response-holder .response-item *, .response-holder .response-item * {
	cursor: pointer
}
@media all and (max-width:1279px) and (min-width:890px) {
#response-holder .response-item, .response-holder .response-item {
	margin-top: 70px
}
}
@media all and (max-width:889px) and (min-width:769px) {
#response-holder .response-item, .response-holder .response-item {
	margin-top: 30px;
	padding-top: 30px
}
}
@media all and (min-width:481px) and (max-width:768px) {
#response-holder .response-item, .response-holder .response-item {
	margin-top: 25px;
	padding-top: 25px
}
}
@media all and (max-width:480px) {
#response-holder .response-item, .response-holder .response-item {
	margin-top: 40px;
	padding-top: 2px
}
}
#response-holder .response-item:hover, .response-holder .response-item:hover {
	background-color: #f9f9fb!important
}
#response-holder .response-item:hover .open-wrap span, .response-holder .response-item:hover .open-wrap span {
	border-top: 13px solid #ed5c37
}
#response-holder .response-item .open-wrap, .response-holder .response-item .open-wrap {
	padding-left: 0;
	padding-right: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 100%;
	padding-top: 2%
}
@media all and (min-width:1025px) and (max-width:1279px) {
#response-holder .response-item .open-wrap, .response-holder .response-item .open-wrap {
	padding-top: 1.5%
}
}
@media all and (min-width:481px) and (max-width:768px) {
#response-holder .response-item .open-wrap, .response-holder .response-item .open-wrap {
	padding-top: 2%
}
}
@media all and (max-width:480px) {
#response-holder .response-item .open-wrap, .response-holder .response-item .open-wrap {
	padding-top: 3%
}
}
#response-holder .response-item .open-wrap span, .response-holder .response-item .open-wrap span {
	display: block;
	width: 0;
	height: 0;
	border-top: 13px solid #c3c3c3;
	border-left: 7.5px solid transparent;
	border-right: 7.5px solid transparent;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-webkit-transition: .4s;
	transition: .4s
}
#response-holder .response-item .img-holder, .response-holder .response-item .img-holder {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding-left: 0;
	padding-right: 0
}
@media all and (max-width:480px) {
#response-holder .response-item .img-holder, .response-holder .response-item .img-holder {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start
}
}
#response-holder .response-item .img-holder img, .response-holder .response-item .img-holder img {
	width: 80px;
	height: 80px;
	display: block;
	border-radius: 50%
}
@media all and (max-width:1279px) {
#response-holder .response-item .img-holder img, .response-holder .response-item .img-holder img {
	width: 60px;
	height: 60px
}
}
@media all and (max-width:1024px) and (min-width:769px) {
#response-holder .response-item .img-holder img, .response-holder .response-item .img-holder img {
	margin-top: -5px
}
}
#response-holder .response-item .pos-wrap, .response-holder .response-item .pos-wrap {
	padding-left: 0;
	padding-right: 0;
	padding-left: 20px
}
@media all and (max-width:1279px) and (min-width:890px) {
#response-holder .response-item .pos-wrap, .response-holder .response-item .pos-wrap {
	padding-left: 10px
}
}
@media all and (max-width:889px) and (min-width:769px) {
#response-holder .response-item .pos-wrap, .response-holder .response-item .pos-wrap {
	padding-left: 8px
}
}
@media all and (min-width:481px) and (max-width:768px) {
#response-holder .response-item .pos-wrap, .response-holder .response-item .pos-wrap {
	padding-left: 20px
}
}
#response-holder .response-item .pos-wrap .pos-name, .response-holder .response-item .pos-wrap .pos-name {
	font-family: Sailec-Medium,sans-serif;
	font-size: 18px;
	line-height: 1.67;
	color: #181820;
	display: inline-block;
	width: 100%
}
@media all and (min-width:1025px) and (max-width:1279px) {
#response-holder .response-item .pos-wrap .pos-name, .response-holder .response-item .pos-wrap .pos-name {
	font-size: 16px
}
}
@media all and (max-width:1024px) and (min-width:890px) {
#response-holder .response-item .pos-wrap .pos-name, .response-holder .response-item .pos-wrap .pos-name {
	font-size: 15px
}
}
@media all and (max-width:889px) and (min-width:769px) {
#response-holder .response-item .pos-wrap .pos-name, .response-holder .response-item .pos-wrap .pos-name {
	font-size: 15px
}
}
@media all and (min-width:481px) and (max-width:768px) {
#response-holder .response-item .pos-wrap .pos-name, .response-holder .response-item .pos-wrap .pos-name {
	font-size: 16px;
	line-height: 1.56
}
}
@media all and (max-width:480px) {
#response-holder .response-item .pos-wrap .pos-name, .response-holder .response-item .pos-wrap .pos-name {
	font-size: 14px;
	line-height: 1.5
}
}
#response-holder .response-item .pos-wrap .pos-desc, .response-holder .response-item .pos-wrap .pos-desc {
	width: 80%;
	padding-top: 5px;
	font-family: Sailec,sans-serif;
	font-size: 15px;
	line-height: 1.5;
	color: #606068;
	display: inline-block
}
@media all and (min-width:1025px) and (max-width:1279px) {
#response-holder .response-item .pos-wrap .pos-desc, .response-holder .response-item .pos-wrap .pos-desc {
	line-height: 1.56
}
}
@media all and (max-width:1024px) and (min-width:890px) {
#response-holder .response-item .pos-wrap .pos-desc, .response-holder .response-item .pos-wrap .pos-desc {
	padding-top: 3px;
	line-height: 1.56
}
}
@media all and (max-width:889px) and (min-width:769px) {
#response-holder .response-item .pos-wrap .pos-desc, .response-holder .response-item .pos-wrap .pos-desc {
	line-height: 1.5;
	padding-top: 0
}
}
@media all and (min-width:481px) and (max-width:768px) {
#response-holder .response-item .pos-wrap .pos-desc, .response-holder .response-item .pos-wrap .pos-desc {
	font-size: 16px;
	line-height: 1.56;
	padding-top: 0
}
}
@media all and (max-width:480px) {
#response-holder .response-item .pos-wrap .pos-desc, .response-holder .response-item .pos-wrap .pos-desc {
	font-size: 14px;
	line-height: 1.5;
	padding-top: 0
}
}
#response-holder .response-item .pos-wrap .pos-location, .response-holder .response-item .pos-wrap .pos-location {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-top: 10px;
	font-family: Sailec-Bold,sans-serif;
	font-size: 9px;
	letter-spacing: .9px;
	text-transform: uppercase
}
#response-holder .response-item .pos-wrap .pos-location img, .response-holder .response-item .pos-wrap .pos-location img {
	margin-right: 8px;
	margin-top: -2px;
	max-height: 14px
}
#response-holder .response-item .response-desc-wrap, .response-holder .response-item .response-desc-wrap {
	padding-left: 0;
	padding-right: 0
}
@media all and (min-width:481px) and (max-width:768px) {
#response-holder .response-item .response-desc-wrap, .response-holder .response-item .response-desc-wrap {
	padding-top: 32px
}
}
@media all and (min-width:769px) {
#response-holder .response-item .response-desc-wrap, .response-holder .response-item .response-desc-wrap {
	margin-left: 0
}
}
@media all and (max-width:480px) {
#response-holder .response-item .response-desc-wrap, .response-holder .response-item .response-desc-wrap {
	padding-top: 25px
}
}
#response-holder .response-item .response-desc-wrap .desc-title, .response-holder .response-item .response-desc-wrap .desc-title {
	padding-right: 7.5%;
	font-family: Sailec,sans-serif;
	letter-spacing: -.4px;
	color: #181820;
	font-size: 24px;
	line-height: 1.58;
	margin-bottom: 34.5px;
	position: relative;
	padding-left: 20px
}
@media all and (max-width:1279px) and (min-width:890px) {
#response-holder .response-item .response-desc-wrap .desc-title, .response-holder .response-item .response-desc-wrap .desc-title {
	letter-spacing: -.2px;
	font-size: 20px;
	line-height: 1.55
}
}
@media all and (max-width:889px) and (min-width:769px) {
#response-holder .response-item .response-desc-wrap .desc-title, .response-holder .response-item .response-desc-wrap .desc-title {
	letter-spacing: -.2px;
	font-size: 18px;
	line-height: 1.5
}
}
@media all and (min-width:481px) and (max-width:768px) {
#response-holder .response-item .response-desc-wrap .desc-title, .response-holder .response-item .response-desc-wrap .desc-title {
	font-size: 20px;
	line-height: 1.55;
	letter-spacing: -.2px
}
}
@media all and (max-width:480px) {
#response-holder .response-item .response-desc-wrap .desc-title, .response-holder .response-item .response-desc-wrap .desc-title {
	padding-left: 0;
	font-size: 18px;
	line-height: 1.44;
	letter-spacing: -.2
}
}
#response-holder .response-item .response-desc-wrap .desc-title:before, .response-holder .response-item .response-desc-wrap .desc-title:before {
	content: "\201C";
	display: block;
	position: absolute;
	font-size: 68px;
	line-height: .76;
	letter-spacing: -1.8px;
	font-family: Sailec,sans-serif;
	top: 0;
	left: -20px;
	color: #ed5c37
}
@media all and (min-width:1025px) and (max-width:1279px) {
#response-holder .response-item .response-desc-wrap .desc-title:before, .response-holder .response-item .response-desc-wrap .desc-title:before {
	left: -15px
}
}
@media all and (max-width:1024px) and (min-width:890px) {
#response-holder .response-item .response-desc-wrap .desc-title:before, .response-holder .response-item .response-desc-wrap .desc-title:before {
	left: -13px
}
}
@media all and (max-width:889px) and (min-width:769px) {
#response-holder .response-item .response-desc-wrap .desc-title:before, .response-holder .response-item .response-desc-wrap .desc-title:before {
	left: -2px;
	font-size: 50px
}
}
@media all and (max-width:480px) {
#response-holder .response-item .response-desc-wrap .desc-title:before, .response-holder .response-item .response-desc-wrap .desc-title:before {
	left: -40px;
	top: 10px
}
}
#response-holder .response-item .response-desc-wrap .add-desc, .response-holder .response-item .response-desc-wrap .add-desc {
	max-height: 0;
	overflow: hidden;
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease
}
#response-holder .response-item .response-desc-wrap .add-desc .term-more, .response-holder .response-item .response-desc-wrap .add-desc .term-more {
	margin-top: 33px;
	margin-bottom: 59px;
	max-width: 75%;
	padding-left: 20px
}
@media all and (min-width:1025px) and (max-width:1279px) {
#response-holder .response-item .response-desc-wrap .add-desc .term-more, .response-holder .response-item .response-desc-wrap .add-desc .term-more {
	padding-left: 20px
}
}
@media all and (min-width:769px) and (max-width:1024px) {
#response-holder .response-item .response-desc-wrap .add-desc .term-more, .response-holder .response-item .response-desc-wrap .add-desc .term-more {
	padding-left: 20px;
	margin-top: 23px;
	margin-bottom: 50px;
	margin-left: 0
}
}
@media all and (min-width:481px) and (max-width:768px) {
#response-holder .response-item .response-desc-wrap .add-desc .term-more, .response-holder .response-item .response-desc-wrap .add-desc .term-more {
	margin-top: 18px;
	letter-spacing: -.1px;
	margin-bottom: 30px
}
}
@media all and (max-width:480px) {
#response-holder .response-item .response-desc-wrap .add-desc .term-more, .response-holder .response-item .response-desc-wrap .add-desc .term-more {
	margin-top: 15px;
	padding-left: 0;
	margin-bottom: 20px
}
}
#response-holder .response-item .response-desc-wrap .add-desc .desc, .response-holder .response-item .response-desc-wrap .add-desc .desc {
	padding-right: 7.5%;
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	line-height: 1.67;
	color: #595960;
	margin-bottom: 20px;
	padding-left: 20px
}
@media all and (min-width:1025px) and (max-width:1279px) {
#response-holder .response-item .response-desc-wrap .add-desc .desc, .response-holder .response-item .response-desc-wrap .add-desc .desc {
	font-size: 16px;
	line-height: 1.5
}
}
@media all and (max-width:1024px) and (min-width:890px) {
#response-holder .response-item .response-desc-wrap .add-desc .desc, .response-holder .response-item .response-desc-wrap .add-desc .desc {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 5px
}
}
@media all and (min-width:481px) and (max-width:768px) {
#response-holder .response-item .response-desc-wrap .add-desc .desc, .response-holder .response-item .response-desc-wrap .add-desc .desc {
	font-size: 16px;
	line-height: 1.5
}
}
@media all and (max-width:480px) {
#response-holder .response-item .response-desc-wrap .add-desc .desc, .response-holder .response-item .response-desc-wrap .add-desc .desc {
	font-size: 14px;
	line-height: 1.5;
	padding-left: 0;
	margin-bottom: 0
}
}
h1 {
	font-family:Sailec-Medium;
	font-size: 30px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.2;
	letter-spacing: -.4px;
	color: #181820;
	margin-top: 70px;
	margin-bottom: 48px
}
@media all and (min-width:640px) {
h1 {
	font-size: 34px;
	line-height: 1.24;
	letter-spacing: -.8px
}
}
@media all and (min-width:1280px) {
h1 {
	font-size: 48px;
	line-height: 1.31;
	letter-spacing: -1px
}
}
@media all and (min-width:1280px) {
h1 {
	margin-top: 130px;
	margin-bottom: 90px;
	font-size: 48px
}
}
h2 {
	font-family: Sailec-Medium;
	font-size: 26px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.08;
	letter-spacing: -.3px;
	color: #181820;
	text-align: center
}
@media all and (min-width:640px) {
h2 {
	font-size: 30px;
	line-height: 1.27;
	letter-spacing: -.4px
}
}
@media all and (min-width:1280px) {
h2 {
	font-size: 34px;
	line-height: 1.24;
	letter-spacing: -.8px
}
}
p {
	padding: 0
}
.bold-text {
	font-size: 16px;
	font-family: Sailec-Medium;
	font-weight: 500;
	line-height: 1.75;
	color: #181820
}
@media all and (min-width:769px) {
.bold-text {
	font-size: 18px;
	line-height: 1.56
}
}
.paragraph-font {
	font-family: Sailec;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	color: #595960
}
@media all and (min-width:480px) {
.paragraph-font {
	font-size: 16px
}
}
@media all and (min-width:1400px) {
.paragraph-font {
	font-size: 18px;
	line-height: 1.67
}
}
.overview-1 {
	margin-bottom: 52px
}
@media all and (min-width:769px) {
.overview-1 {
	margin-bottom: 44px
}
}
@media all and (min-width:1400px) {
.overview-1 {
	margin-bottom: 60px
}
}
@media all and (max-width:480px) {
.overview-1 {
	margin-bottom: 30px
}
}
.overview-2 {
	margin-top: 21px
}
@media all and (min-width:769px) {
.overview-2 {
	margin-top: 28px
}
}
.case-header {
	padding: 0;
	margin: 32px 0;
	text-transform: capitalize
}
@media all and (min-width:1400px) {
.case-header {
	margin: 84px 0 32px
}
}
.about-nums-holder {
	margin-top: 32px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row
}
.about-nums-holder .about-nums-item {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start
}
@media all and (min-width:480px) {
.about-nums-holder .about-nums-item .about-num-years {
	min-width: 235px
}
}
.case-location-industry {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column
}
@media all and (min-width:769px) {
.case-location-industry {
	margin-bottom: -10px;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row
}
}
.case-location-industry .subheader-item {
	margin-top: 10px;
	margin-right: 32px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}
.case-location-industry .subheader-item .subheader-title {
	font-family: Sailec-Bold;
	font-size: 12px;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 1px;
	color: #181820;
	text-transform: uppercase;
	margin-right: 8px;
	height: 15px
}
.case-location-industry .subheader-item .subheader-text {
	font-family: Sailec;
	font-size: 15px;
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	color: #595960;
	line-height: 18px;
	height: 18px
}
.case-location-industry .subheader-item .location {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}
.case-location-industry .subheader-item .location img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-right: 8px; margin-top:2px;
	height: 20px
}
.case-client-location {
	padding-top: 21px;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column
}
@media all and (min-width:769px) {
.case-client-location {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end
}
}
@media all and (min-width:1280px) {
.case-client-location {
	padding: 0;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline
}
}
.case-client-location .subheader-item .subheader-title {
	margin-bottom: 8px
}
.case-client-location .subheader-item .location {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline
}
.case-client-location .subheader-item .location .subheader-icon {
	margin-right: 8px
}
.case-client-location .subheader-item .client-logo img {
	height: 24px;
	display: block
}
.overview-footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column
}
@media all and (min-width:769px) {
.overview-footer {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row
}
}
.overview-footer .case-download {
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1
}
@media all and (min-width:769px) {
.overview-footer .case-download {
	-webkit-box-ordinal-group: 1;
	-ms-flex-order: 0;
	order: 0
}
}
.case-techs {
	margin-top: 40px;
	margin-bottom: 40px
}
.case-techs .bold-text {
	margin: 32px 0 5px 0
}
.case-techs .btn {
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: -.2px;
	color: #ed5c37;
	border: solid 2px #181820;
	background-color: #fff;
	width: 200px;
	margin: 32px 0 8px
}
.case-techs .btn:hover {
	color: #fff
}
.case-techs .btn:hover:before {
	background-color: #181820
}
@media all and (max-width:1279px) {
.case-techs .btn {
	font-size: 14px
}
}
@media all and (min-width:1400px) {
.case-techs .btn {
	margin-bottom: 16px
}
}
.case-gap-image {
	display: block;
	width: 100%!important;
	margin-left: 0!important;
	margin-right: 0!important;
	max-width: 4000px!important;
	margin-top: 32px;
	margin-bottom: 32px
}
@media all and (min-width:1400px) {
.case-gap-image {
	margin-bottom: 96px
}
}
@media all and (min-width:4000px) {
.case-gap-image {
	margin-left: auto!important;
	margin-right: auto!important
}
}
.info-title {
	position: relative;
	margin: 130px 0 28px
}
@media all and (max-width:1400px) {
.info-title {
	margin: 120px 0 20px
}
}
@media all and (max-width:768px) {
.info-title {
	margin: 70px 0 20px
}
}
@media all and (max-width:480px) {
.info-title {
	margin: 50px 0 20px
}
}
.info-title a {
	color: #181820
}
.info-title a:link {
	color: #181820
}
@media all and (min-width:1280px) {
.quote-block-holder {
	position: relative
}
}
.quote-block-holder .quote-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin: 32px 0 42px
}
@media all and (min-width:480px) {
.quote-block-holder .quote-block {
	margin-left: auto;
	margin-right: auto;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start
}
}
@media all and (min-width:1280px) {
.quote-block-holder .quote-block {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0
}
}
.quote-block-holder .quote-block .customer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-top: 32px
}
@media all and (min-width:480px) {
.quote-block-holder .quote-block .customer {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row
}
}
.quote-block-holder .quote-block .customer img {
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-right: 16px
}
.quote-block-holder .quote-block .customer .customer-name {
	text-align: center
}
.quote-block-holder .quote-block .customer .customer-name .bold-text {
	font-size: 16px
}
.quote-block-holder .quote-block .customer .customer-name .paragraph-font {
	font-size: 14px
}
@media all and (min-width:769px) {
.quote-block-holder .quote-block .customer .customer-name {
	text-align: left
}
}
.quote-block-holder .quote-block .quote-text {
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.44;
	letter-spacing: -.2px;
	color: #181820;
	color: #ed5c37;
	text-align: center;
	padding: 0;
	margin-right: 32px
}
@media all and (min-width:640px) {
.quote-block-holder .quote-block .quote-text {
	font-size: 20px;
	line-height: 1.55
}
}
@media all and (min-width:1400px) {
.quote-block-holder .quote-block .quote-text {
	font-size: 24px;
	line-height: 1.58;
	letter-spacing: -.4px
}
}
@media all and (max-width:1279px) {
.quote-block-holder .quote-block .quote-text {
	font-size: 24px
}
}
@media all and (min-width:480px) {
.quote-block-holder .quote-block .quote-text {
	text-align: left
}
}
.image-slider {
	margin-top: 20px
}
@media all and (min-width:1400px) {
.image-slider {
	margin-top: 64px;
	margin-bottom: 64px
}
}
@media all and (min-width:769px) {
.image-slider {
	margin-top: 41px;
	margin-bottom: 41px
}
}
.solution-gap-image {
	width: 100%;
	display: block;
	margin: 64px 0
}
.title-shifted-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}
.title-shifted-list p {
	text-align: left;
	padding: 0
}
.before-related-cases {
	margin-bottom: 60px
}
@media all and (min-width:769px) {
.before-related-cases {
	margin-bottom: 75px
}
}
@media all and (min-width:1280px) {
.before-related-cases {
	margin-bottom: 81px
}
}
@media all and (min-width:1400px) {
.before-related-cases {
	margin-bottom: 96px
}
}
.related-cases {
	margin-top: 20px;
	margin-bottom: 40px
}
@media all and (min-width:769px) {
.related-cases {
	margin-top: 30px;
	margin-bottom: 64px
}
}
@media all and (min-width:1400px) {
.related-cases {
	margin-top: 49px
}
}
@media all and (max-width:480px) {
.related-cases {
	margin-top: 40px;
	margin-bottom: 40px
}
}
.related-cases .mini-cases {
	margin-top: 36px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}
@media all and (min-width:1280px) {
.related-cases .mini-cases {
	margin-top: 64px
}
}
@media all and (min-width:769px) {
.related-cases .mini-cases {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}
}
.related-cases .mini-cases .case-item {
	border: solid 1px #fff;
	max-width: 480px;
	max-height: 480px
}
.related-cases .mini-cases .case-item:last-child {
	display: none
}
@media all and (min-width:1280px) {
.related-cases .mini-cases .case-item:last-child {
	display: block
}
}
.related-cases .mini-cases .case-item .case-title {
	font-family: Sailec;
	font-size: 22px;
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.45;
	letter-spacing: -.1px;
	color: #fff
}
@media all and (max-width:1024px) and (min-width:769px) {
.related-cases .mini-cases .case-item .case-title {
	line-height: 1.3
}
}
.related-cases .mini-cases .case-item .case-type {
	font-family: Sailec-Bold;
	font-size: 11px;
	letter-spacing: 1.6px;
	color: #fff
}
.quote-holder {
	margin-top: 42px;
	margin-bottom: 56px
}
#video-holder {
	margin-top: 0;
	margin-bottom: 0
}
.response-item {
	margin-top: 0!important
}
.padded-bottom {
	margin-bottom: 30px
}


#case-uve .case-img{background-image:url(../images/uve_large.jpg)}
#case-vr .case-img{background-image:url(../images/traverse_large.jpg)}
#case-vivino .case-img{background-image:url(../images/65.jpg)}
#case-flipp .case-img{background-image:url(../images/flipp-cs.jpg)}
#case-drgregers .case-img{background-image:url(../images/61@2x.jpg)}
#case-flipp .case-img{background-image:url(../images/flipp-cs.jpg)}
#case-perkcoffee .case-img{background-image:url(../images/66@2x.jpg)}






#case-crowdfunding .case-img{background-image:url(../images/greger_lage.jpg)}
#case-construction .case-img{background-image:url(../images/65.jpg)}
#case-sport .case-img{background-image:url(../images/traverse_large.jpg)}
.five-images{margin-top:164px}
.solution-gap-image{margin-top:181px}

@media all and (max-width:480px){
.case-location-industry .subheader-item .subheader-title{font-size:11px}
.case-location-industry .subheader-item .subheader-text{font-size:14px;line-height:19px}
}
@media all and (min-width:1280px){
.quote-block-holder .quote-block{margin-top:-100px}
}
@media all and (min-width:1400px){
.quote-block-holder .quote-block{margin-top:-180px}
}
#response-holder{margin-bottom:70px!important;margin-top:60px!important}