#mwd-form9{
	padding: !important;
	border-radius:0px;
	box-shadow:px;
	background: transparent;
	border:none !important;
	display:table;
	width:100%;
}
#mwd-form9 .mwd-header{
	width:100%;
	background-color:#b7b7b7;
	margin:;
	border-radius:0px;
	text-align: center;
	padding:10px 0 !important;
	border:none !important;
}
#mwd-form9 .image_left_right.mwd-header {
	padding: 0 !important;
}
#mwd-form9 .image_left_right > div {
	padding:10px 0 !important;
}
#mwd-form9.header_left_right .wdform-page-and-images{
	display: table-cell;
	width:100%;
}
#mwd-form9.header_left_right .mwd-header{
	display: table-cell !important;
	width:100%;
	vertical-align:middle;
}
#mwd-form9 .mwd-header-title{
	font-size:24px;
	color:#ffffff;
}
#mwd-form9 .mwd-header-description{
	font-size:15px;
	color:#8b8b8b;
}
.mwd-form-message9{
	font-family:tahoma;
	font-size:16px;
	font-weight:normal;
	width:100%;
	padding:10px !important;
	margin:;
	border-radius:0px;
	border:none !important;
	text-align: center;
}
.mwd-success.mwd-form-message9{
	background-color:#ededed;
	color:#959595;
}
#mwd-minimize-text9{
	width:30%;
}
#mwd-minimize-text9 div{
	background-color: #fff;
	font-size:17px;
	font-weight:normal;
	color: #444;
	padding:10px !important;
	margin:;
	border-radius:0px;
	text-align: center;
	border:none !important;
	cursor: pointer;
}

#mwd-minimize-text9 div{
	border-top: 2px solid #8f8f8f  !important;
}
#mwd-minimize-text9 div{
	border-left: 2px solid #8f8f8f  !important;
}
#mwd-minimize-text9 div{
	border-right: 2px solid #8f8f8f  !important;
}
#mwd-minimize-text9 div{
	border-bottom: 2px solid #8f8f8f  !important;
}#mwd-minimize-text9 div:hover {
	background-color:#ffffff;
	color:#8f8f8f;
	outline: none;
	border: none !important;
	cursor: pointer;
}

#mwd-minimize-text9 div:hover {
	border-top: 2px solid #8f8f8f  !important;
}
#mwd-minimize-text9 div:hover {
	border-left: 2px solid #8f8f8f  !important;
}
#mwd-minimize-text9 div:hover {
	border-right: 2px solid #8f8f8f  !important;
}
#mwd-minimize-text9 div:hover {
	border-bottom: 2px solid #8f8f8f  !important;
}#mwd-form9 .wdform-page-and-images{
	font-size:16px;
	font-weight:normal;
	width:100%;
	color:#959595;
	padding:10px !important;
	margin:;
	border-radius:0px;
	border:none !important;
}

#mwd-form9 .mini_label {
	font-size:14px !important;
	font-weight:normal;
	color:#b5b5b5;
	padding:0px 5px 0px 0px !important;
	margin:0px;
}
#mwd-form9 .check-rad label{
	font-size:14px !important;
}

#mwd-form9 .wdform-page-and-images label{
	font-size:16px;
}

#mwd-form9 .wdform_section{
	margin:0 auto;
}

#mwd-form9 .wdform_section {
	padding:;
	margin:;
	background: transparent;
}
#mwd-form9 .wdform_column {
	padding:10px;
	margin:0px;
}
#mwd-form9 .ui-slider {
	background: #ffffff !important;
}
#mwd-scrollbox9 .mwd-scrollbox-form {
	width:30%;
	margin:0 auto;
	position: relative;
}
#mwd-popover9 .mwd-popover-content {
	width:30% !important;
	margin:0 auto;
	position: relative;
}
#mwd-pages9.wdform_page_navigation {
	width:100%;
}
#mwd-form9 .wdform_footer {
	font-size: 16px;
	font-weight: normal;
	color: #959595;
	width: 70%;
	margin: 0 auto;
	padding: 15px 0 0 0;
	/* clear: both; */
}
#mwd-pages9 .page_active {
	background-color: #e74c3c;
	font-size: 16px;
	font-weight: normal;
	color: #ffffff;
	width: px;
	height: px;
	line-height: px;
	margin: 0 0 4px 0 ;
	padding: 8px;
	border-radius: 3px;
	cursor: pointer;
}
#mwd-pages9 .page_active {
	border-top: 2px solid #e74c3c  !important;
}
#mwd-pages9 .page_active {
	border-left: 2px solid #e74c3c  !important;
}
#mwd-pages9 .page_active {
	border-right: 2px solid #e74c3c  !important;
}
#mwd-pages9 .page_active {
	border-bottom: 2px solid #e74c3c  !important;
}
#mwd-pages9 .page_deactive {
	background-color: #a5a5a5;
	font-size: 16px;
	font-weight: normal;
	color: #ffffff;
	width: px;
	height: px;
	line-height: px;
	margin: 0 0 0 -3px;
	padding: 4px 6px;
	border-radius: 3px;
	cursor: pointer;
}
#mwd-pages9 .page_deactive {
	border-top: 2px solid #a3a3a3  !important;
}
#mwd-pages9 .page_deactive {
	border-left: 2px solid #a3a3a3  !important;
}
#mwd-pages9 .page_deactive {
	border-right: 2px solid #a3a3a3  !important;
}
#mwd-pages9 .page_deactive {
	border-bottom: 2px solid #a3a3a3  !important;
}
#mwd-pages9 .page_percentage_active {
	background-color: #e74c3c;
	font-size: 16px;
	font-weight: normal;
	color: #ffffff;
	width: ;
	height: px;
	line-height: px;
	margin: 0 0 4px 0 ;
	padding: 8px;
	border-radius: 3px;
	min-width: 7%;
}
#mwd-pages9 .page_percentage_active {
	border-top: 2px solid #e74c3c  !important;
}
#mwd-pages9 .page_percentage_active {
	border-left: 2px solid #e74c3c  !important;
}
#mwd-pages9 .page_percentage_active {
	border-right: 2px solid #e74c3c  !important;
}
#mwd-pages9 .page_percentage_active {
	border-bottom: 2px solid #e74c3c  !important;
}
#mwd-pages9 .page_percentage_deactive {
	background-color: #a5a5a5;
	font-size: 16px;
	font-weight: normal;
	color: #ffffff;
	width: 100%;
	height: px;
	line-height: px;
	margin: 0 0 0 -3px;
	padding: 4px 6px;
	border-radius: 3px;
}
#mwd-pages9 .page_percentage_deactive {
	border-top: 2px solid #a3a3a3  !important;
}
#mwd-pages9 .page_percentage_deactive {
	border-left: 2px solid #a3a3a3  !important;
}
#mwd-pages9 .page_percentage_deactive {
	border-right: 2px solid #a3a3a3  !important;
}
#mwd-pages9 .page_percentage_deactive {
	border-bottom: 2px solid #a3a3a3  !important;
}
#mwd-action-buttons9 {
	font-size:22px;
	font-weight:normal;
	color:#777777;
	text-align: center;
    cursor: pointer;
	font-family: monospace;
}
#closing-form9,
#minimize-form9 {
	position: absolute;
	background:transparent;
	padding:0px;
	margin:0px;
	border-radius:0px;
	border:none;
}
#closing-form9 {
	top: 10px;
	right: 10px;
	bottom: ;
	left: ;
}
#minimize-form9 {
	top: 10px;
	right: 42px;
	bottom: ;
}
#closing-form9:hover,
#minimize-form9:hover {
	background:transparent;
	color:#e74c3c;
	border:none;
}
#mwd-form9 .wdform-required {
	color: #ff1313;
}

#mwd-form9 .input_deactive {
	color: #afafaf !important;
	font-style: normal;
}


#mwd-form9 .file-picker{
	background: url(http://citrusbug.app/wp-content/plugins/wd-mailchimp/images/themes/file-uploads/2.png) no-repeat 0% 10%;
	display: inline-block;
}

#mwd-form9 .wdform-calendar-button {
	background: url(http://citrusbug.app/wp-content/plugins/wd-mailchimp/images/themes/date-pickers/2.png) no-repeat 0% 10%;
	margin: 3px 0 0 -23px;
    position: absolute;
}

#mwd-form9 .mwd-subscribe-reset{
	float: left;
}

#mwd-form9 .mwd-subscribe-reset div{
	text-align: left;
}

#mwd-form9 .button-submit {
	margin-right: 15px;
}

